[2021-09-20 14:45] tbarbugli commented on #1441
@evsaev please confirm ^^^

[2021-09-20 14:46] tbarbugli commented on #1410
This should be fixed now on the latest release, please re-open if needed

[2021-09-20 14:46] #1410 closed

[2021-09-20 14:47] tbarbugli commented on #1273
We are still unable to reproduce this, please re-open if you can still hit this issue on the latest release (4.0.1)

[2021-09-20 14:47] #1273 closed

[2021-09-20 14:48] tbarbugli commented on #1128
@whiplash00 is this still an issue on latest (4.0.1)?

[2021-09-20 14:49] tbarbugli commented on #1157
@basememara @hovmush latest release (4.0.1) improved connection handling, can you reproduce this on that version as well?

[2021-09-20 14:50] evsaev commented on #1452
Hey @architdhupar 👋

To extend a image/file/video attachment with custom fields declare a `Codable` type first:
[code]

Then, initiate sending a message with image/file/video attachment like that:
[code]

When message is sent an attachment JSON would looks like this:
[code]

To get the custom fields back from attachment do the following:
[code]

Let me know if it helps 🙂

[2021-09-20 15:14] #1167 closed

[2021-09-20 15:41] yensi-vega opened #1463 "Token refresh only works the first time (some times a second try, but then fails)"
**### What did you do?**
For testing we set up 2 min for token expiration in our token generator server.
- When the token has expired and we try to send a message, its internal local state is set to `.sendingFailed`
- On this scenario, se call `reloadUserIfNeeded` which use our token provider closure.
- In the first token expiration, we got the new token and send the same message with success
- We

[2021-09-20 21:34] evsaev commented on #1443
Hey @srgray, sorry for the delay and thanks for your patience! 🙌

The issue you're facing with is addressed by https://github.com/GetStream/stream-chat-swift/pull/1440. I'll let you know once it is merged.

[2021-09-21 04:48] architdhupar commented on #1452
Hi @evsaev,
Thanks for your reply.

are there any similar methods like sendImage/sendFile in iOS just like in Android(or node) which uploads the image/file and gives the url of uploaded file in completion?

Thanks again.

[2021-09-21 09:10] ratkins opened #1465 "Crash in ChatChannel.create(fromDTO:)"
We've got a few instances of this via Crashlytics:

[code]

Also this one, slightly different:
[code]
Looks like it's all inside StreamChat? We're using the 4.0.0 release. This one in particular from iOS 14.7.1 on an iPhone 8.

[2021-09-21 10:00] tbarbugli commented on #1465
@ratkins can you share the code around `BeamsAnalyticsController.swift:11` ?

[2021-09-21 10:03] tbarbugli commented on #1465
@ratkins also great if you can share how you create `ChatClient` and `ChatClientConfig`

[2021-09-21 10:42] evsaev commented on #1452
Hey @architdhupar 👋

iOS SDK behaves differently from Android: when sending is initiated for a message containing **file/image/video/audio** attachments, attachments get saved to the local database with **local URLs** and queued by `AttachmentUploader`. When uploading of a given attachment is completed, the **local URLs** and replaced with **remote URLs** and when we're done with all attachment a

[2021-09-21 11:07] ratkins commented on #1465
`BeamsAnalyticsController.swift` is a bit of a red herring here I think, 11 is a blank line and we're not calling anything to do with Chat from it. No idea why it's in the stack trace.

Can I email you some code privately?

[2021-09-21 12:51] tbarbugli commented on #1465
@ratkins sure thing, that's tommaso@getstream.io

[2021-09-21 14:39] yensi-vega commented on #1463
Thanks for quick reply. We will start the update and let you know if we need a hand on that.

[2021-09-21 16:14] yensi-vega commented on #1463
Hi @nuno-vieira , I'm wondering if there is a kind of `update guide` (from 3.1.11 to 4.0.1)

Thanks in advance.

[2021-09-21 16:20] b-onc commented on #1463
Hello @yensi-vega ,

The migration guide can be found [here](https://github.com/GetStream/stream-chat-swift/blob/main/docusaurus/docs/iOS/guides/migrating-from-3-to-4.md)

[2021-09-21 17:52] tbarbugli commented on #1454
@anjuarevero please reopen if you can provide some more information about the issue

[2021-09-21 17:52] #1454 closed

[2021-09-21 17:54] tbarbugli commented on #1441
@gonzalonunez did the extension work for you?

[2021-09-21 18:19] gonzalonunez commented on #1441
@tbarbugli

Looks like it will work, but from what I can tell it is not "technically" correct given that the conformances to `Hashable` and `Equatable` are different. From the [Hashable documentation](https://developer.apple.com/documentation/swift/hashable):

I see there is already the following for `Equatable`:
[code]

Why not add it for `Hashable` too, and then conform all of the existing types

[2021-09-22 06:26] hovmush commented on #1157
Thank you @tbarbugli. I will try and let you know

[2021-09-22 08:28] tbarbugli commented on #1463
Closing this issue, please feel free to open issues if you find any issue with the migration from 3.x to 4.x

[2021-09-22 08:28] #1463 closed

[2021-09-22 19:02] srgray opened #1471 "Muted user's messages still appear in message list"
## What did you do?
I muted a user

## What did you expect to happen?
I expected not to see new messages from that user

## What happened instead?
I still see messages from that user

## GetStream Environment
**GetStream Chat version:** 4.0.1
**GetStream Chat frameworks:** StreamChat, StreamChatUI

## Additional context

[2021-09-23 08:28] tbarbugli commented on #1441
All attachment types are not `Hashable` on the main branch (release coming up today)

[2021-09-23 08:28] #1441 closed

[2021-09-23 08:31] tbarbugli commented on #1471
@srgray the SDK does not make any assumption on how apps deal with muted users. We'll add a an example snippet just show how hiding muted messages can be done.

[2021-09-23 10:14] tbarbugli commented on #1465
update: after more investigation it looks like the crash happens on ~ `4.0.0-beta.11` and not to `4.0.0`. @ratkins I am closing this but please re-open if you see the same crash happening on ~ 4.0

[2021-09-23 10:14] #1465 closed

[2021-09-23 10:28] tbarbugli commented on #1128
closing this issue for now, please re-open if you are still experiencing it on latest version (4.0.1)

[2021-09-23 10:28] #1128 closed

[2021-09-23 13:10] nicol3a opened #1473 "Question: Recommended way to display a custom message cell"
## What are you trying to achieve?
Display a custom message cell. We send regular text messages with custom data in `extraData`. It could be something like "User created a task", "Task deleted", etc. It's a like a message sent by the system. We want this message cell displayed full width.

How can we do that in the most simple way? I looked at AttachmentInjector, I managed to display the message,

[2021-09-23 13:58] evsaev commented on #1452
hey @architdhupar 👋 I hope we're able to help! In case of any questions feel free to open a GitHub issue 👍

[2021-09-23 14:03] evsaev commented on #1332
Hey @kcollignon @energo 👋

The PR that adds models to events will be merged soon 👍

Thanks for your patience!

[2021-09-23 14:12] gonzalonunez commented on #1441
Thank you @tbarbugli! 🙏🏻

[2021-09-23 14:20] energo commented on #1332
Great news, thank you @evsaev

[2021-09-23 15:57] BarragaoA opened #1475 "Fatal error MessageDTO.swift"
## What did you do?
Hello, i'm registered to EventsControllerDelegate in order to send local push when a new message happens.

## What happened instead?
Do not know why and how to reproduce the issue but sometimes when we are launching the app and triggering an event a crash occurs. I can not find a way to systematically reproduce it.

Thanks for your help.

## GetStream Environment
**GetStream Ch

[2021-09-23 20:55] abdelrahman-badary opened #1477 "MessageDeletedEvent never received"
## What did you do?
I am trying to listen to channel events through the `ChatChannelController.eventsController ` I receive various events but never the MessageDeletedEvent, the message is being deleted from our backend, I have tried to listen to the channel events and I tried to listen to the chat client events but neither received the event.

## What did you expect to happen?
To receive the Mess

[2021-09-23 22:43] abdelrahman-badary commented on #1477
So an update about this, we noticed that the SDK fails to parse the event internally because the user object is missing from the event payload so the init method fails in this line  `userId = try response.value(at: \.user?.id)` inside the `MessageDeletedEvent` class. same issue reported in the Android SKD https://github.com/GetStream/stream-chat-android/issues/2360

[2021-09-24 09:07] evsaev commented on #1477
Hey @abdelrahman-badary 👋

Thanks for reporting this! You're absolutely right, if message deletion is triggered server-side the `user` is missing and event parsing phase fails and events is not get posted.

It's already fixed in #1459 and will be merged soon 👍

[2021-09-24 12:27] tbarbugli commented on #1475
@BarragaoA can you include the relevant code using Stream Chat here?

[2021-09-24 12:29] tbarbugli commented on #1473
@nicol3a can you include an example of the message custom data here?

[2021-09-24 13:05] nicol3a commented on #1473
The `extraData` property usually looks like this:
[code]

At the time when we thought about how to represent our custom messages, we looked into creating a `system` message but it wasn't what we needed (because no push notifs were sent if I remember correctly). And now we're using this system in production since Feb 2021, so we'd like to keep it this way.

With my current solution using `Attachmen

[2021-09-25 04:09] vankien96 opened #1478 "Crash when archive with Xcode 13"
## What did you do?
I got an issue when using Xcode 13 to upload build to TestFlight, It crashed when switching to the ChatChannelListVC tab.
I tried using Xcode 12 to archive and everything works fine.

## What did you expect to happen?
Not crash when ChatChannelListVC appear

## What happened instead?
Crash

## GetStream Environment
**GetStream Chat version: 4.0.1**
**GetStream Chat frameworks:*

[2021-09-26 20:32] j-j-m opened #1479 "Users imageURL in the wrong place"
## What did you do?
Connected a user with `ChatClient.connectUser` including an imageURL in the user info i.e.
[code]

## What did you expect to happen?
When accessing the user via `channel.lastActiveMembers` or `channel.lastActiveWatchers`
`ChatUser.imageURL` should contain the users image URL

## What happened instead?
`ChatUser.imageURL` was nil. `ChatUser.extraData["image_url"]` instead contai

[2021-09-27 07:28] BarragaoA commented on #1475
In AppDelegate : didFinishLaunchingWithOptions
[code]

When my user is logged we're doing this :
[code]
refresh() method fetching channel to know how much channel are not read yet. Here the method that is fetching the channels :
[code]
Here the delegate method to get the newEvent :
[code]

And the getChannel(with id) method:
[code]

[2021-09-27 08:33] adamrushy commented on #1479
Hi @j-j-m thanks for reporting this. This is intended behaviour and the SDK is built to do this.

I have just run the Demo app and I can see that `lastActiveMembers` does return `imageURL`. If possible, can you provide some more code snippets so I can see the actual integration?

It's worth noting that `imageURL` is optional and will default to `nil` so I am wondering if you're setting a valid URL

[2021-09-27 08:59] tbarbugli commented on #1478
Thank you for reporting this, just a couple questions to speed things up:

- Do you use a custom Appearance object? If yes can you share that?
- Can you reproduce this locally?
- Is it possible to share the line numbers from the stack trace?

[2021-09-27 09:32] tbarbugli commented on #1157
@hovmush I will close this for now, please re-open if you still see the problem

[2021-09-27 09:32] #1157 closed

[2021-09-27 10:07] adamrushy commented on #1479
@j-j-m To update we have found the issue and will feedback with a fix shortly thank you.

[2021-09-27 11:16] nuno-vieira commented on #1376
Will close the issue for now. Let us know if you need any help with this 👍

[2021-09-27 11:16] #1376 closed

[2021-09-27 16:13] adamrushy commented on #1479
@j-j-m this issue will be fixed with this PR https://github.com/GetStream/stream-chat-swift/pull/1482

Thank you for reporting :)

[2021-09-27 19:25] srgray opened #1484 "ChatChannelListVC doesn't properly filter channels"
## What did you do?
Attempt to display ChatChannelListVC for only `.messaging` channels of which my user is a member

## What did you expect to happen?
Only `.messaging` channels that my user is a member of should be displayed

## What happened instead?
ChatChannelListVC displays some channels that are `.livestream` type

## GetStream Environment
**GetStream Chat version:** 4.0.1
**GetStream Chat

[2021-09-28 07:07] tbarbugli commented on #1484
thank you for sharing this, looks like the relevant bits of code is

[code]

which looks correct, we are looking into it

[2021-09-28 07:16] tbarbugli commented on #1479
the PR is merged and will be part the next release (before end of the week). If you have the chance please test against main and let us know if you still see any issue

[2021-09-28 08:44] tbarbugli commented on #1484
quick update, the ChannelListQuery you use creates the right JSON payload:

[code]

more digging required

[2021-09-28 10:07] basememara opened #1487 "Chat client APIs randomly fail due to JSON decoding"
## What did you do?
Called `chatClient.channelListController(...)`

## What did you expect to happen?
Data retrieved from the chat client with no errors.

## What happened instead?
Randomly no data is returned from the chat client and get the following error in the console:

[code]

## GetStream Environment
**GetStream Chat version:** 4.0.2
**GetStream Chat frameworks:** StreamChat
**iOS version:*

[2021-09-28 16:17] tbarbugli commented on #1487
fixed on main branch (thank you!)

[2021-09-28 16:17] #1487 closed

[2021-09-28 19:02] #1479 closed

[2021-09-29 06:34] vankien96 commented on #1478
Do you use a custom Appearance object? If yes can you share that?
=> Yes, I custom the headerView like this:
[code]

Can you reproduce this locally?
=> No, it works well when I run directly with Xcode 13. But when archive to TestFlight => It crashes.
Archive with Xcode 12. it works ok.

Is it possible to share the line numbers from the stack trace?
=> The image above is all I got from the TestFlig

[2021-09-29 19:10] srgray commented on #1484
Hi @b-onc ,

Thanks for the suggested work-around. I am not able to get my delegate callback to fire, it is only using the default implementation declared in the protocol extension. Can you take a quick look and let me know if I am doing something wrong?
[StreamChannelListDelegateWorkaround.zip](https://github.com/GetStream/stream-chat-swift/files/7254439/StreamChannelListDelegateWorkaround.zip)

[2021-09-30 10:04] dmrschmidt opened #1494 "Keyboard's autosuggest is hiding the composer input text field"
## What did you do?

Updated from 4.0.1 to 4.0.2. Now, when tapping into the composer text field and the keyboard appears, the text field is not scrolled up enough. They text entry field is covered by the autosuggest recommendations.

## What did you expect to happen?

The text entry field should've not been covered.

## What happened instead?

The text entry field (and submit button) were covered

[2021-09-30 10:12] nuno-vieira commented on #1494
Hi @dmrschmidt ! Thank you for the detailed report! We will look into this and get back to you as soon as possible.

[2021-09-30 14:54] b-onc commented on #1484
Hello @srgray ,
Thanks a lot for the sample project, it helped tremendously.
There are 2 issues, 1 comes from user error and 1 comes from SDK
User Error: You assign ViewController as delegate to ChannelListController, but ChannelListVC assigns itself as delegate, overriding yours. Your implementations won't be called.
SDK Error: You can't override delegate methods in your ChannelListVC subclass be

[2021-10-01 10:09] #1332 closed

[2021-10-01 10:09] #1477 closed

[2021-10-01 12:50] #1484 closed

[2021-10-01 18:13] tbarbugli commented on #1475
the latest release (4.0.3) contains several improvements to the event delegate, you can now get the message directly on the delegate without any additional step.

here's an example on how to show a local notification when a new message is received https://getstream.io/chat/docs/sdk/ios/controllers/events/#example-local-notifications

[2021-10-04 13:39] tbarbugli commented on #1307
@Lascorbe closing this for now but please reopen if you are still blocked. In the meantime we updated our docs for the SDK: https://getstream.io/chat/docs/sdk/ios/

[2021-10-04 14:27] adamrushy commented on #1478
Hey, @vankien96 I have raised a PR;
https://github.com/GetStream/stream-chat-swift/pull/1502

This should hopefully stop the app from crashing. We are now safely loading images from the bundle. I suggest building your app against this branch or `main` when we merge it to check the crash is now fixed.

[2021-10-04 15:37] vankien96 commented on #1478
Hi @adamrushy, I checked your branch and it fixed the crash. but now it cannot load icons, I saw your PR, it is problems with loading icons from the bundle.
It works well when run from Xcode. Do I need any config when archiving with Xcode 13?
![IMG_0056](https://user-images.githubusercontent.com/26648523/135880445-3ba41c07-ac51-4adb-9e17-0ae704d871cb.jpg)

[2021-10-04 15:46] adamrushy commented on #1478
@vankien96 thanks for checking and glad the crash has gone. Are you able to share the full project with us? If it's private you can email me (adam.rush@getstream.io) or you can upload a sample here directly?

[2021-10-04 22:23] srgray opened #1505 "ChatChannelListVC doesn't display newly created channels in some cases"
## What did you do?
Created my first channel while `ChatChannelListVC` was visible

## What did you expect to happen?
I expected the newly created channel to be shown in `ChatChannelListVC`

## What happened instead?
No channels were shown in `ChatChannelListVC`

## GetStream Environment
**GetStream Chat version:** 4.0.3
**GetStream Chat frameworks:** StreamChat, StreamChatUI

## Additional contex

[2021-10-05 04:39] Museer21 opened #1507 "Android and iOS experience is not same"
## What did you do?
Display default cell in iOS
`super.collectionView(collectionView, cellForItemAt: indexPath)`
## What did you expect to happen?
iOS and Android cell display should be same while sending same text including html string. please have a look in given screen shots
![Screenshot_20210930-114706](https://user-images.githubusercontent.com/83453288/135961009-8834fb5d-9157-4987-9626-e300ec

[2021-10-05 08:31] vankien96 commented on #1478
@adamrushy Our project is a large project so I cannot share it, let me try to create an example and send it to you.

[2021-10-05 08:32] tbarbugli commented on #1507
I think you for sharing this, it would be great if you could answer a few questions:

- How is the message in your example being posted? Can you share the payload as well so we can reproduce it?
- Are you using a custom Message component in your app? If yes can you include the code used there?

[2021-10-05 12:05] iosamar opened #1511 "Unread Count."
Hi,

I am trying to show unread count and my code for the same is :-

let config = ChatClientConfig(apiKey: APIKey(apiKey))
            let tokenClient =
                Token(
                    stringLiteral: token
                )
            ChatClient.shared = ChatClient(config: config)
            ChatClient.shared.connectUser(
                userInfo: UserInfo(
                    id: us

[2021-10-05 12:58] tbarbugli commented on #1511
A couple quick questions:

- is the user a member on the channel that you are observing? (if not sure, please share how you create the test channel)
- are you sending the test message with a different user (the unread count is not changed when for messages from the same user)

[2021-10-05 13:10] iosamar commented on #1511
answer of first question:- yes the user is the member of the channel that i am observing.
answer of second question:- yes i am sending message from different user from same channel.

[2021-10-05 13:12] b-onc commented on #1505
Hello @srgray ,

Thanks a lot for the sample project.

Indeed there's a bug in the SDK, we've found and fixed it. It'll be included in the next release.

[2021-10-05 13:26] iosiappmemes opened #1514 "Channel Controller not accessible in ChatChannelListVC"
## What did you do?
I want channel controller instance for get the message list according to channel selected

## What did you expect to happen?
No instance exist of channel controller in ChatChannelListVC so please provide the proper documentation as its not exist in that class

## What happened instead?
channelcontroller instance should contains in ChatChannelListVC so we can use it as per updat

[2021-10-05 17:58] MatejBalantic opened #1515 "Unexpected warning: `Invalid Resource 'Sources/StreamChatUI/Resources': File not found`"
## What did you do?

Build an XCode project with stream-chat-swift embedded & imported via SPM

## What did you expect to happen?

No warnings

## What happened instead?

Received a following warning when building it
[code]

## GetStream Environment
**GetStream Chat version:**
4.0.1

[2021-10-05 18:10] nuno-vieira commented on #1494
Hi @dmrschmidt The fix is now available on the `main` branch, and it will be officially available in the next release, this Friday.

I'll close the issue, feel free to open it again if you find any problem.

Thank you!

[2021-10-05 18:10] #1494 closed

[2021-10-05 18:11] dmrschmidt commented on #1494
That was super fast! Thanks so much for the update and your amazing work!

[2021-10-06 08:30] tbarbugli commented on #1511
@iosamar the `currentUserController` controller holds a weak reference to its delegate. Can you make `currentUserController` a var and store it so you know it will not get collected?

[code]

[code]

[2021-10-06 08:48] iosamar commented on #1511
@tbarbugli,  thanks for the reply,
i tried the way you are telling but couldn't help.
let me share you code again

 var chatChannelController: ChatChannelController?
 var currentUserController: CurrentChatUserController!

inCallVm.initChatVc = {  [weak self](chatCredential) in
            guard let self = self else { return }

            guard let apiKey = chatCredential.apiKey, let token = chatC

[2021-10-06 09:30] nuno-vieira commented on #1511
@iosamar Sorry, there was a typo on Tomasso's response, what is incorrect in your snippet is this part:
`currentUserController.delegate = CurrentUserDelegate()`

You need to store the `CurrentUserDelegate()` in a strong reference or it will be automatically deallocated since the controller holds a weak ref to the delegate. Since a weak reference doesn't increment the reference count, it will alway

[2021-10-06 10:38] adamrushy commented on #1515
Thanks for reporting @MatejBalantic looking into this now 👍

[2021-10-06 11:00] adamrushy commented on #1515
Hey, @MatejBalantic I have raised PR to fix this warning https://github.com/GetStream/stream-chat-swift/pull/1516

Please let me know if this fixes your issue, thanks again for spotting this.

[2021-10-06 13:00] adamrushy commented on #1507
@Museer21 if a link is inserted directly inside the chat it will render the link for you, see attached screenshot. Are you able to share more code, for example, is this a custom attachment you're using?

![LinkPreview](https://user-images.githubusercontent.com/1519998/136207153-26a6a446-cca5-4da5-aa40-192d390fd06b.jpg)

[2021-10-06 13:01] adamrushy commented on #1478
Hey, @vankien96 how are you getting on sharing the sample code? 💯

[2021-10-06 13:47] vineethnkforios opened #1520 "New member can view and access the previous chat history in a channel or direct chat"
## Created a direct/ Channel with 2 members and chatted, after a long time added another member, but the new member can view the previous chat/chat history

## the new member  won't display the previous chat/chat history

## the new member can view the previous chat/chat history

Is there an option to hide the previous chat /chat history when adding a new member to the direct chat/ channel ?

## G

[2021-10-06 14:04] #1515 closed

[2021-10-06 14:38] vankien96 commented on #1478
@adamrushy i sent the sample to your email, please help me check it.

[2021-10-06 15:07] nuno-vieira commented on #1514
Hi @iosiappmemes the README has now been updated with the most recent docs, it should not contain anymore links to the old docs. Sorry for the inconvenience!

Thanks for the report!

[2021-10-06 15:07] #1514 closed

[2021-10-06 15:31] adamrushy commented on #1478
Thank you @vladpre92 it could well be CocoaPods specifically, I will explore this, thank you!

[2021-10-06 18:45] nuno-vieira commented on #1520
Hi @vineethnkforios @AmalJose-01 !

As of right now, this feature is not available. We will discuss it internally with the backend team and will update you as soon as possible on when this feature will be planed.

Thanks for the report!

Nuno

[2021-10-07 06:53] Sudhansub commented on #1406
Hi Team,

 I am facing issue while trying to implement getStream chat in my iOS app.
I go through the document but am still facing the issue of implementing it.

Can someone from your technical team help me?
Can we do it today as we have to release this app soon?

On Tue, Sep 14, 2021 at 1:43 AM Tommaso Barbugli ***@***.***>
wrote:

--
Regards,

 *Mob- 9831348228*
 Facebook <https://www.facebook.c

[2021-10-07 12:05] #1507 closed

[2021-10-08 06:05] #1511 closed

[2021-10-08 10:04] vineethnkforios opened #1530 "Unable to add members in a direct message"
## I have created a direct message with 2 members initially, and when I try to add another member to the direct message group then returns an error.

I can add the same users to a newly created channel...

Is the direct message is working like above ?

iOS SDK Version 4.0.4

I think the SDK version (4.0) was working for both direct message/Channel case

## What did you expect to happen?
 Able to a

[2021-10-08 10:29] vineethnkforios opened #1531 "App crashes When click on Image share button on ipad , working fine in iphone"
## What did you do?
Messaging chat screen upload an image, then click on that image and try to click the share button, app crashes in iPad only

## What did you expect to happen?

## What happened instead?

![Skype_Picture_2021_10_08T10_23_21_734Z](https://user-images.githubusercontent.com/78809766/136541206-085766ab-3fb0-4e80-9fa3-916a5d015b9d.jpeg)

## GetStream Environment
**GetStream Chat vers

[2021-10-08 11:21] tbarbugli commented on #1530
can you share the code that you are using?

[2021-10-08 11:30] #1530 closed

[2021-10-08 11:32] vineethnkforios commented on #1530
@nuno-vieira @tbarbugli Thanks for your quick response..

[2021-10-08 12:47] vineethnkforios commented on #1530
It's ok...
I have one more query : When leaving from a channel the channel is also deleted from the history -

[2021-10-11 13:13] evsaev commented on #1475
Hey there @BarragaoA 👋

Have you had a chance to check out improvements for event observing? Is `MessageDTO` crash still happing for you with `4.0.4` SDK version?

Thanks!

[2021-10-11 13:48] #1531 closed

[2021-10-12 18:54] whiplash00 opened #1541 "photo would randomly become very low resolution"
## What did you do?
Send numerous photos; a small number of them will stay blurry and low resolution.

Sometimes, force-killing and reopening the app will turn other previously normal resolution photos back to low resolution.

## What did you expect to happen?
The photos should be of normal resolution.

## What happened instead?
Random photo stays low resolution.

## GetStream Environment
GetStrea

[2021-10-13 10:06] evsaev commented on #1452
Hey @iosamar 👋

Let me have a deeper look into this 👀 In the meantime, could you show your custom attachment payload type so we better understand what extra data you're sending with image attachment?

Thank you!

[2021-10-13 11:57] adamrushy commented on #1478
@vladpre92 this also worked for me perfectly fine. But my UI is looking differently to yours, are you overriding the Appearance.Images? My feeling is that your assets aren't being bundled correctly on archive and it's defaulting to the "red circle" that we implemented.

Can you share the code whereby this is happening for some of the images? I checked your sample code but I can't see this?

[2021-10-13 12:19] anjuarevero opened #1546 "Removing a member is not currently working, and is able to still access the channel/DM"
## What did you do?
Remove a member from channel /DM (Owner removed a member after few chats )

## What did you expect to happen?

Removed member should not able to view the channel/DM
## What happened instead?
Removed member list is not updating , he will be able to see and send message to the channel/DM again

## GetStream Environment
**GetStream Chat version:**
**GetStream Chat frameworks:** St

[2021-10-13 12:27] abhijithevero commented on #1546
Similar Issue found in DM channel
Spinner stops me

[2021-10-13 12:45] adamrushy commented on #1541
Thank you for reporting @whiplash00

I am currently investigating and will come back to you :]

[2021-10-13 12:45] vladpre92 commented on #1478
I tried with:

`Appearance.default.images.bigPlay = UIImage(named: "ic_video_play") ?? emptyImage`

Same result. Everything ok when running from XCode, red circles for testflight.
Also updated the above answer with my chat client configuration code.

[2021-10-13 14:22] vineethnkforios commented on #1546
In my case remove Members functionality is working and has no errors, but after removing the channel list is not updating...

[2021-10-13 16:05] adamrushy commented on #1478
@vladpre92 are you able to send across the actual project? I can't see anything in the SDK whereby this is broken but I am thinking that something is wrong within the assets you're using/overriding.

If you can email that to me and password protect it? Then I can delete it once this issue is resolved.

Otherwise, I am struggling to reproduce this issue locally.

[2021-10-13 17:39] vladpre92 commented on #1478
@nuno-vieira Yes. Cocoapods.

[2021-10-13 17:46] nuno-vieira commented on #1478
@vladpre92 Yes the issue seems to be related to Cocoapods. My guess is that the fix we did here for SPM: https://github.com/GetStream/stream-chat-swift/pull/1516, we also need to do it for Cocoapods. We will tackle this ASAP, and see if this fixes the issue 👍

[2021-10-14 13:55] evsaev commented on #1452
Good day @iosamar 👋

I can confirm that we send an image attachment and get it back without the `thumb_url` field. If you're using Stream's CDN, there's a way to modify `image_url` and get a thumbnail providing `w/h/crop/resize` query params to the URL.

Here is how we do it on iOS: https://github.com/GetStream/stream-chat-swift/blob/11ed5928786c19f559db24ce06d121ff7b813bf2/Sources/StreamChatUI/Ut

[2021-10-14 17:02] yensi-vega opened #1550 "App crashes when trying to get / access to the ChatChannelController observableObject"
## What did you do?
We implemented a chat view using SwiftUI (with SDK 3.x), and to get support for iOS 13.x (but we use mostly > iOS 14.x), we use EnvironmentObject instead StateObject and it worked well.
After update our App to use StreamChat 4.0.1, we tested the App in iOS 13.5 and the App crashes when accessing to ChatChannelController observableObject (When it didn't happen before)
Note: The

[2021-10-14 17:18] vladpre92 opened #1551 "White keyboard on image swipe to dismiss"
## What did you do?
Went to messages list screen.
Focused input field.
Keyboard appeared.
Tapped on image from messages list.
Swiped image to dismiss.

## What did you expect to happen?
To see the keyboard as before

## What happened instead?
Keyboard has white background. Keys don't show.

## GetStream Environment
**GetStream Chat version:** 4.1.0
**GetStream Chat frameworks:** StreamChat, Stream

[2021-10-14 20:53] gonzalonunez opened #1552 "SIGABRT__cxa_throw in ChannelListUpdater"
## What did you do?
I'm seeing this crash happen in production. Only one report so far.

## GetStream Environment
**GetStream Chat version:** `4.0.1`
**GetStream Chat frameworks:** `StreamChat`
**iOS version:** `15.0`
**Swift version:** `5.5`
**Xcode version:** `13`
**Device:** `iPhone11,8`

## Additional context
Here's the full raw stack trace below:
[code]

[2021-10-15 09:29] evsaev commented on #1552
Hey there @gonzalonunez 👋

That's the known issue and it's been already fixed in [`4.1.0`](https://github.com/GetStream/stream-chat-swift/releases/tag/4.1.0) 🙂

Thanks for reporting this!

[2021-10-15 10:09] #1552 closed

[2021-10-15 12:30] tbarbugli commented on #1475
@BarragaoA just wanted to confirm that this problem is fixed on the main branch. Next path release will include the fix.

[2021-10-15 12:30] #1475 closed

[2021-10-15 17:18] gonzalonunez commented on #1552
Thanks for the quick response! Happy to hear this is fixed :)

[2021-10-16 08:05] whiplash00 opened #1555 "Giphy should preview before sending"
Currently Giphy only pops up after sending it which is highly unintuitive. It should load a Giphy and preview it before sending

[2021-10-18 10:09] vankien96 opened #1557 "How can check member list can load more or not?"
## What did you do?
Currently, I'm using:
[code]
And using loadNextMembers to handle load more members
[code]
So:
1. How can I check that it can load more or not?
2. Can I sort the member list by name?

## GetStream Environment
**GetStream Chat version:** 4.0.4

[2021-10-18 13:09] adamrushy commented on #1546
@vineethnkforios @anjuarevero

We have started working on a 'patch' to get this issue resolved quickly. We have a long term fix that we're also working on which will take a little longer to work on. Thanks for your patience 👍🏼

[2021-10-19 09:41] adamrushy commented on #1555
Thanks for the product request @whiplash00 I am going to close this issue and pass it on to our product team, thank you!

[2021-10-19 09:41] #1555 closed

[2021-10-19 10:53] vladpre92 opened #1558 "Channel `reads` property not updated when ChatChannelVC is on screen."
## What did you do?
1. User A and user B are in the same grup G1.
2. User A scrolls trough G1 message list.
3. User B sends a message in G1.
4. User A message list for G1 is updated with the new message.
5. Channel's controller delegate method channelController(_ channelController: ChatChannelController, didUpdateChannel channel: EntityChange<ChatChannel>) not called with `reads` property updated.

[2021-10-19 11:36] evsaev commented on #1558
Hey there @vladpre92 👋

Thanks for reporting this! I'll check this issue and get back to you 👍

Thank you!

[2021-10-19 14:14] vladpre92 opened #1562 "NukeImageLoader class can't be used"
## What did you do?
Tried to make a subclass of NukeImageLoader, but could not use it with Components.

## What did you expect to happen?
To have public initializer and use it with Components.

## What happened instead?
Protected initializer.

## GetStream Environment
**GetStream Chat version:** 4.1.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI, StreamChatClient, StreamChatCore
**iOS v

[2021-10-19 14:34] adamrushy commented on #1562
@vladpre92 yeah I see what you mean, we don't really have a requirement as it's designed to be out of the box but then we provide the interface for loading images. I will close the thread as you mentioned but do let us know if you see anything else because we could probably do with tidying this part of the SDK up.

[2021-10-19 15:09] vladpre92 commented on #1562
Thank you!

[2021-10-19 18:33] #1551 closed, assigned to nobody

[2021-10-20 04:21] vankien96 commented on #1557
@evsaev
Thank you.

[2021-10-20 04:28] vankien96 commented on #1478
@adamrushy Thank you for your work. It might not a good solution but at least you know what is the root problem. Hope you can fix that soon.

[2021-10-20 13:44] adamrushy opened #1566 "Using CocoaPods, with Xcode 13 is failing to load assets"
## Issue

We are currently aware of the issue within CocoaPods and archiving using Xcode 13. We have raised this issue with CocoaPods [here](https://github.com/CocoaPods/CocoaPods/issues/11011) and we'll continue to monitor the situation.

If your project can, we recommend switching to use Swift Package Manager or Carthage. However, if you need to use CocoaPods there is a short term fix that you c

[2021-10-20 13:45] #1478 closed

[2021-10-20 14:46] vladpre92 opened #1567 "Sent / Delivered / Read message indicators"
Hi guys,

I was wondering if you plan to implement (in the near future) message status indicators for each message from message list. I think this is a must for any chat app.
I saw that you have ChatChannelReadStatusCheckmarkView class implemented but you don't use it.

At this moment, based on the current architecture, what do you think it's the easiest way to achieve this?
Personally I have trou

[2021-10-20 22:46] nicol3a commented on #1473
Thank you, a little bit cleaner than what I did with `AttachmentViewInjector` :-)

[2021-10-21 19:14] cjmconie opened #1570 "Composer input occluded by keyboard in SwiftUI VStack"
## What did you do?

Added `ChatChannelListVC` inside a `VStack`. Example use case, adding a bottom tab bar view.

The code snippet below demonstrates the issue. Simply update `MessengerChatChannelList` in the Messenger clone to reproduce it.

[code]

## What did you expect to happen?

The composer input field to remain above the keyboard allowing user input.

## What happened instead?

The compos

[2021-10-22 03:50] vankien96 commented on #1546
@adamrushy I face the same issue. Hopefully, you can fix it soon.

[2021-10-22 09:32] vladpre92 opened #1571 "Question: Block / Unblock user (user to user level)"
Hi guys,

I was wondering how block / unblock user-to-user can be achieved (if it can be achieved) and how it works. I didn't find anything in your docs about this, but in this blog post (https://getstream.io/blog/product-comparison-stream-vs-sendbird/) when comparing StreamChat with Sendbird, `user to user block` feature is included.

Thank you!

[2021-10-22 09:51] ratkins opened #1572 "Could not cast value of type 'StreamChat.CurrentUserDTO' [...] to 'StreamChat.CurrentUserDTO'"
We're getting this one reliably when running our acceptance tests:

[code]

This in the console:
[code]

StreamChat 4.1.0 via SPM
Xcode Version 13.1 (13A1030d)
Simulator Version 13.1 (970) running iOS 15.0

[2021-10-22 16:16] #1546 closed, assigned to adamrushy

[2021-10-25 08:01] #1473 closed, assigned to b-onc

[2021-10-26 12:46] srgray opened #1581 "What is the recommended way to scroll ChatChannelVC to a specific message?"
## What are you trying to achieve?
I would like to programmatically scroll `ChatChannelVC` so that a specific message is visible.
Example use case:
- User receives a link with a reference to a specific message in a channel (by `ChatMessage.id`, e.g.)
- User taps link in app
- App programmatically opens the `ChatChannelVC` for that channel and programmatically scrolls so that the specified message

[2021-10-27 15:21] vladpre92 opened #1585 "ChatChannel watchersCount property wrong value for some channels"
## What did you do?
Download 4.2.0 StreamChat demos from StreamChat repository.
Run StreamChatSample target.
From channel list select Adella channel. Same for IOS Group channel an others.

## What did you expect to happen?
The channel screen to have the actual number of online users.

## What happened instead?
The channel screen had wrong number of online users.

## GetStream Environment
**GetStre

[2021-10-28 12:45] jderes opened #1587 "NotificationMessageNewEvent not triggered"
Hello,
I want to display local notifications for new messages from user's channels.
After the app starts i set EventsHandler's delegate and i'm properly receiving NotificationMessageNewEvent events:
`public func eventsController(_ controller: EventsController, didReceiveEvent event: StreamChat.Event) {`
 `          guard let event = event as? NotificationMessageNewEvent else { return }`
`

[2021-10-28 15:45] vladpre92 opened #1588 "Some full screen photos (Live Photos) weird flicker when presented / dismissed to / from full screen."
## What did you do?
Open channel screen.
Tap images to present them full screen.

## What did you expect to happen?
All of them to be displayed full screen without flicker.

## What happened instead?
Some of them present full screen with weird flicker.

## GetStream Environment
**GetStream Chat version:** 4.2.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI, StreamChatClient, StreamChatCo

[2021-10-29 13:35] Overcot opened #1589 "Can't find docs to migrate ChatMessageListVC"
## What did you do?
Migrating from commit to 2634a623dd84b91ee26f404f75da4f1445915806 to 4.2.0

## What did you expect to happen?

To find info to migrating my use case

## What happened instead?
Didn't find it

## GetStream Environment
**GetStream Chat version:4.2.0. Previous was commit 2634a623dd84b91ee26f404f75da4f1445915806**
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS versio

[2021-10-29 13:37] #1589 closed, assigned to nobody

[2021-11-01 08:18] tbarbugli commented on #1587
The `NotificationMessageNewEvent` is fired for channel members that are not watching the channel, once you start watching the channel the `MessageNewEvent` event is fired instead.

You can either stop watching the channel when the ChatChannelVC is removed from screen (just keep in mind that other users will see that user leaving the channel) or you can listen for both `MessageNewEvent` and `Notifi

[2021-11-01 08:18] #1587 closed

[2021-11-02 06:58] jderes commented on #1587
That makes sense, thanks.

[2021-11-02 19:56] j-j-m opened #1594 "StreamChatUI via XCFramework"
## What are you trying to achieve?
Due to a version incompatibility in Starscream (also used by AWS Amplify) I am trying to use `StreamChatUI` in an XCFramework via a binaryTarget in SPM. `StreamChat` works in this way but  `StreamChatUI` results in a bunch of missing symbols.

I have tried manually building the framework into an XCFramework and also using the built products from Carthage.

## If

[2021-11-03 05:58] varindersingh007 opened #1595 "Removing user from the channel not updating the channel list."
## What did you do?
Here is the situation , I have created a channel list controller , I just logged in with two different devices, after logging in I have created a group by including both the users , we can say user A , B , c . User A created a group including B and c.
Now that group is visible to all users whoever included in this group. When user A (admin) removed the member B from the channel

[2021-11-03 09:36] adamrushy commented on #1566
Just an update on this, we've expedited internally and doing some more investigation as we've not had a response from CocoaPods just yet. We'll keep you updated, thank you.

[2021-11-03 09:37] adamrushy commented on #1594
Thanks for opening this @j-j-m this is a topic we're discussing currently internally and we'll update you on the progress of this. Thank you.

[2021-11-05 15:58] nuno-vieira commented on #1562
@vladpre92 Thanks again for the report! The fix is now available on main and will come out in the next release 👍

[2021-11-05 15:58] #1562 closed

[2021-11-05 16:03] b-onc commented on #1572
Hello @ratkins

We're having difficulties reproducing your setup. Would you mind sharing a simple sample where this issue can be reproduced?

[2021-11-05 16:41] ratkins commented on #1572
I'm not sure I have time to build a reduced test case, but maybe we could pair and I could show you our setup directly? Send me an email: my GitHub username @beams.fm.

[2021-11-08 08:49] tbarbugli commented on #1595
@varindersingh007 is the channel removed from the list when you close/open the application?

[2021-11-08 10:32] varindersingh007 commented on #1595
Yes

[2021-11-08 13:29] BarragaoA opened #1601 "Crash iOS 12, ChatMessageGalleryViewImagePreview"
## What happened instead?
Hello, we got a user on iOS 12 with a crash :
[code]

[code]

It seems to occur only on iOS 12.

## GetStream Environment
**GetStream Chat version:** 4.3
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** 12.4

## Additional context
I was on 4.1 but I tried to update the sdk to 4.3 and I still got the issue.

Thanks for your help

[2021-11-08 14:01] adamrushy commented on #1566
@whiplash00 I have raised a PR that should resolve this issue. I was wondering if you can for me on your project? https://github.com/GetStream/stream-chat-swift/pull/1602

[2021-11-08 15:09] #1566 closed

[2021-11-08 15:55] whiplash00 commented on #1566
@adamrushy happy to do so.

[2021-11-09 09:30] varindersingh007 commented on #1595
@tbarbugli
Have you check this issue? When it will be resolved?

[2021-11-09 10:21] adamrushy commented on #1601
Thanks for reporting @BarragaoA can you share with us the steps to reproduce?

[2021-11-09 10:32] BarragaoA commented on #1601
Go on a channel in which a picture has been sent. With iOS 12

[2021-11-09 10:36] adamrushy commented on #1601
We have logged this internally and will investigate further, thank you 👍🏼

[2021-11-11 03:34] srgray opened #1606 "Support for paste-ing .gif into chat composer"
## What are you trying to achieve?
I would like to support paste-ing (from the iOS system pasteboard) a .gif animated image into the composer. StreamChatUI already supports paste-ing an image (.jpg, e.g.) into the composer. What would be the recommended way to also support .gif types?

[2021-11-11 11:25] #1428 closed

[2021-11-11 11:27] adamrushy commented on #1444
I have migrated this same topic to our [Discussions](https://github.com/GetStream/stream-chat-swift/discussions/1608) page so we can gauge community interest.

[2021-11-11 11:27] #1444 closed

[2021-11-11 11:28] #1594 closed

[2021-11-11 12:26] #1606 closed

[2021-11-11 12:26] #1581 closed

[2021-11-11 12:28] #1520 closed

[2021-11-11 13:00] #1452 closed

[2021-11-11 14:02] #1567 closed

[2021-11-11 14:03] #1571 closed

[2021-11-11 14:03] #1471 closed

[2021-11-16 12:57] kishinmanglani commented on #1541
This happened once for us as well recently. Someone on our team thought it was because they posted in image on web and viewed on mobile.

[2021-11-17 07:01] vineethnkforios opened #1629 "When Pod Updated Version 4.1.0 to 4.5.0 errors found ."
## What did you do?
Updated Streamchat Version 4.1.0 to 4.5.0

## What did you expect to happen?
No errors

## What happened instead?
2 errors found
Error No1:
Class Name : MessageDTO.swift
Function Name: func saveMessage(payload: MessagePayload, for cid: ChannelId?) throws -> MessageDTO? {

Error No2:
Class Name : DatabaseSession.swift
Function Name: func saveEvent(payload: EventPayload) throws {

[2021-11-17 09:33] tbarbugli commented on #1629
thank you for reporting this, could you share the version of XCode that you are using?

[2021-11-18 16:28] vineethnkforios commented on #1629
12.5.1

[2021-11-18 16:31] abdelrahman-badary commented on #1443
@evsaev any updates on this, I noticed that the PR that had the proposed fix is closed?

[2021-11-19 09:01] bielikb commented on #1629
Hi @vineethnkforios,

thanks for clarifying the version of the Xcode that you're using.
We're currently working on providing fix for this issue and we will cover the issue in upcoming release.

If you want to get unblocked faster, you could upgrade (if possible) to Xcode 13.0+ where variable shadowing is correctly handled by compiler.

[2021-11-19 09:09] bielikb commented on #1550
Hi @yensi-vega could you please check if the issue still occurs on the latest release (v4.5.0)?

If it still occurs, could you please provide us with a simple sample app (in a zip format or as a fork) that showcases your issue? We will than get it from there.

☝️We have a [standalone repo with a simple integration app](https://github.com/GetStream/stream-chat-swift-integration-apps) that you could

[2021-11-21 14:37] tbarbugli commented on #1629
@vineethnkforios if you have the chance, it would be great if you give the `fix-xcode12-shadow` a test and see if that works for your case. We are working on a fix for this as well as run CI on Xcode 12 and 13 but that is going to take a few days

[2021-11-22 11:29] abdelrahman-badary commented on #1443
@tbarbugli any updates about his?

[2021-11-22 18:20] srgray opened #1639 "Not able to customize ChatMessageContentView due to ChatMessageActionsTransitionController"
## What did you do?
I tried to customize `ChatMessageContentView` to display user's `extraData` property instead of `name`.

## What did you expect to happen?
I expect the SDK to handle the customization correctly for all cases.

## What happened instead?
Due to a recent change where `ChatMessageContentView` is recreated (and not reused) during `ChatMessageActionsTransitionController` presentation

[2021-11-23 12:09] vladpre92 commented on #1595
@tbarbugli
I can reproduce this as well.
But in my case is worse. I remove a channel member from backend (Node.js). After removal, the removed member can see the channel previously removed from in channel list, and the channel is displayed in the list even after app restart. Only uninstall works.
And the biggest problem is that even if is removed from channel (checked with StreamChat Explorer, use

[2021-11-23 12:12] b-onc commented on #1595
Hello @vladpre92 ,

You have to override `shouldListUpdatedChannel/shouldAddNewChannelToList` delegate funcs in your ChannelListVC subclass (or implement them if you use the controller directly) so channel list gets updated accordingly.

In your ChannelListVC subclass:
[code]

[2021-11-23 12:40] vladpre92 commented on #1595
Hi @b-onc

I've done what you suggested. I got the same result because removed user persists inside lastActiveMembers list (local cache probably). Also in my ChannelListVC subclass, my `viewDidLoad` method looks like this:

[code]

and with this list filtering implementation I don't think I need to use the suggested delegate methods.

I think it's a problem with the local cache because even after

[2021-11-23 13:02] vladpre92 commented on #1595
If I don't set `isLocalStorageEnabled` for chat client config, after app restart channel list looks good, but with `isLocalStorageEnabled ` set to true, the channels that I was removed as a member, keeps appearing in the list always.

[2021-11-23 13:16] b-onc commented on #1595
@vladpre92 The filter you passed during controller creation is not used for filtering updated channels, so delegate implementation is necessary.

How do you remove the user from the channel? Can you provide a sample project where this issue is reproducible? You can share the App Id and user JWT token to me via bahadir@getstream.io

[2021-11-23 15:16] vladpre92 commented on #1595
We remove members only from our backend with the following code:

[code]

Nothing special here.
Unfortunately I can't send you the project files because of the NDA that I signed before starting working.

To summarize:
Chat client configured with `isLocalStorageEnabled = true`.
Added your suggested delegate methods but `channel.lastActiveMembers.contains(where: { $0.id == controller.client.currentU

[2021-11-23 15:19] b-onc commented on #1595
@vladpre92 Thank you. How many members are in the problematic channels?

[2021-11-23 15:20] vladpre92 commented on #1595
I can reproduce with any number of members.

[2021-11-23 15:22] b-onc commented on #1595
@vladpre92 I'm testing with our DemoApp, local storage enabled, and I can see that channel is correctly removed when member is removed. Results align with my expectations since we update locally cached channels too.
I need a simple, sample project where this issue is reproducible to investigate further.

[2021-11-23 15:29] vladpre92 commented on #1595
@b-onc Have you tried to perform the remove member operation with the other device app closed (not connected to chat client). I can reproduce this only if the user that is removed from channel is not connected to chat client.

[2021-11-23 15:35] b-onc commented on #1595
@vladpre92 thank you, that's the case where it's failing, I can reproduce this.

Currently, iOS SDK's offline support is a bit janky. Events happening when the client was offline are not properly fetched by the client, so the client never gets the event where a member was removed. We're currently aware of this limitation and working on it. Meanwhile, we suggest keeping the offline disabled (`isLoc

[2021-11-23 15:52] vladpre92 commented on #1595
Thank you for your help! Using `isLocalStorageEnabled = false` comes with a delay when loading the channel list first time. I hope a fix will come soon for otherwise local storage can't be really used at full potential.

 I don't know if deleting all stored channels for a query and replacing them always with fresh data will impact performance. Like you before #1436 deleting all local channels  whe

[2021-11-23 15:56] b-onc commented on #1595
That created more problems than it resolved, so we removed that logic.. But we're currently re-working that mechanism so offline storage will be usable very soon. Thanks for your help in spotting the issue and patience! This issue will be one of the first things we test in the reworked offline storage. I'll keep this issue open to inform you of any updates.

[2021-11-24 14:21] b-onc commented on #1443
Hello @abdelrahman-badary (and also @srgray )

This issue happens because SDK does not call `synchronize` implicitly on reconnection. This, in turn, causes WS events to not arrive. This issue doesn't happen when a `ChannelListController` is used, since that component will implicitly call `watch` on channels.

The workaround is to subclass `ChannelVC` and call `synchronize` explicitly:
[code]

This

[2021-11-24 21:16] tbarbugli commented on #1629
quick update, this is now fixed on main and will be release on the coming days

[2021-11-25 07:41] iosiappmemes opened #1647 "After seen all the messages , red dot is not disappearing from channel."
Hi Team , I have found one bug while using StreamChat 4.0 SDK ,
I got a message from a friend , on the channel list it shows red dot on new message.  when I clicked on that channel and view all the messages and I came back from the messages screen , the red dot not disappear from the channel.

Here is the Screen shot for ref-
![Simulator Screen Shot - iPhone 13 Pro - 2021-11-25 at 13 10 51](https:

[2021-11-25 10:59] adamrushy commented on #1647
Hey, @iosiappmemes

Thanks so much for sending this through to us, to help me investigate further can you provide the following:

- Steps to reproduce
- Environment details (iOS version, Xcode version etc...)
- Sample code

If you can reproduce this in a sample project or share with us your current implementation so I can see what's happening. I have tried reproducing in our Demo App but it's work

[2021-11-25 11:39] iosiappmemes commented on #1647
@adamrushy , this is our client based live product so I can't share the project , and I don't have any sample project.
Just let me know one thing, I am using default ui for chat , is there anything I need to call manually to make channel read all the messages ? any Boolean value or any api I need to call ?

[2021-11-25 11:40] iosiappmemes commented on #1647
IOS Version :- 15.0
Xcode Version: - 13.0

[2021-11-25 11:43] iosiappmemes commented on #1647
Steps to reproduce ,
Initiate user on two device , suppose names are A,B.
A sent a message to B , when B goes back to channel list from messages controller , it is showing red dot, but B has already seen that message.
Channel should be refresh automatically and red dot should be disappear.

[2021-11-25 13:34] b-onc commented on #1647
@iosiappmemes can you share a video?

[2021-11-25 14:52] vladpre92 commented on #1647
@iosiappmemes You should update to the last version. #1569 is the fix related to this problem and was added to version 4.2.0.

[2021-11-26 05:02] iosiappmemes commented on #1647
Okay Thanks.

[2021-11-26 10:30] iosiappmemes commented on #1647
Hi @vladpre92 , I reviewed your code and I have found the issue in your code .
Actually there are two issue , because of them red dot is not disappearing.
Even I have installed latest SDK as you mentioned 4.2.0, still there are issues available.

issue one :-  This is the code where thread is returning from without marking channel read.
Try to debug by break points.
guard channel?.latestMessages.f

[2021-11-26 10:41] iosiappmemes commented on #1647
I updated the code , I removed the first condition.
and added this code in ViewDidAppear
if didReadAllMessages {
channelController.markRead()
}

Everything works fine now.

[2021-11-29 10:16] iosiappmemes commented on #1647
@vladpre92 , I am using  StreamChat (4.5.0) now.
But still am getting red dot issue. sharing a video , please check once.

https://user-images.githubusercontent.com/54673061/143849419-969a4ccf-b38a-447f-86c3-72613bce3415.mp4

[2021-11-29 12:40] vladpre92 commented on #1647
@iosiappmemes Fix #1569 only solves the above mentioned use case:

`Initiate user on two device , suppose names are A,B.
A sent a message to B , when B goes back to channel list from messages controller , it is showing red dot, but B has already seen that message.`. (with the condition that user B already in messages controller when receiving the message.)

Also, I can't reproduce the behaviour pr

[2021-11-29 12:49] nuno-vieira commented on #1647
Thanks a lot @vladpre92 for helping us out on this issue! Much appreciated!

@iosiappmemes Unfortunately, our internal team can't reproduce this issue as well on the most recent versions.
I would double-check that the SDK version is being correctly updated and is not somehow cached. Which dependency manager are you using?

If you are sure the SDK Version is being correctly updated, the only way we

[2021-11-29 13:43] iosiappmemes commented on #1647
Okay @nuno-vieira , let me check once , will update you shortly .

[2021-11-29 16:40] adamrushy commented on #1639
Hey, @srgray thanks for reporting this to us. Just to say I am investigating this further and will get back to you soon 👍🏼

[2021-11-29 21:04] bardiab commented on #1647
Hi we are also having this issue. Currently using version 4.2.0, double checked and the version is being updated correctly.

User Flow:
`A sent B a message. B opens message and replies to A with a new message. B goes back to channel list from messages controller, showing dot with 1 new notification.`

[2021-11-29 21:09] nuno-vieira commented on #1647
Then, can you provide us with your `ChaChannelListVC` and `ChatChannelVC` code so that we can try and reproduce ourselves? This is not reproducible on our Sample Apps. Also, we have a lot of customers, and we don't have anyone reporting this issue.

Thanks

[2021-11-29 21:27] adamrushy commented on #1639
Hey, @srgray, I had a look into this issue for you. Firstly, thanks so much for providing the sample project. It was straightforward to reproduce and find the problem. We recently refactored this part of the code because previously, we were using the same `View` when displaying the actions; this wasn't ideal and caused us issues, so now we take a snapshot of the `View` and transition this. This is

[2021-11-29 21:33] konroj commented on #1647
@nuno-vieira as @bardiab mentioned we're having same issue.
It's related to only one chat channel. It's not replicable. Even sending a new message doesn't count it down. Subclasses of ChatChannelListVC and ChatCannelVC doesn't change anything in case of logic and it works for (at least we for what we observed) most of the channels till now

[2021-11-29 21:41] nuno-vieira commented on #1647
@konroj

Can you clarify? Which channel?

What do you mean? So how can we replicate the issue ourselves so that we can solve the issue?

[2021-11-29 21:53] nuno-vieira commented on #1647
@konroj @bardiab @iosiappmemes As you can see from the video below, this is working as expected testing 4.5.0 on our sample app:

https://user-images.githubusercontent.com/12814114/143948623-c8824440-3ec8-4495-81bd-bea8b228eeff.mp4

[2021-11-29 22:00] konroj commented on #1647
It's an active user with several channels.
The "stuck" unread message is only affecting one of his channels.
We are not able to replicate or debug this. But this issue exists.

Just got an info that someone has replied there and the unread message dot has gone after opening.

[2021-11-29 22:16] nuno-vieira commented on #1647
Since the issue is gone, I'll close the issue. If you see it happen again, feel free to open the issue, but we need more details in order to fix it. I would recommend gathering information from the user and making sure that there's nothing wrong with the id of the user since the UI will only mark the message read if the message is not from the same user.

Thank you for reporting the issue anyways.

[2021-11-29 23:04] nuno-vieira commented on #1647
Hi

[2021-11-29 23:07] nuno-vieira commented on #1647
@iosiappmemes The only way I could see the issue coming from the SDK is that somehow in some iOS Version the `scroll view's event is not triggered. But if that is the case, you can override the `viewDidAppear` of the channel list and call:
[code]

with this, it still has the issue?

[2021-11-30 02:07] srgray commented on #1639
This approach worked great, thanks for the help!

[2021-11-30 02:07] #1639 closed

[2021-11-30 10:18] iosiappmemes commented on #1647
Hi @nuno-vieira , let me check this .

[2021-11-30 10:22] iosiappmemes commented on #1647
This can't be used because its implementation is private .

![Screen Shot 2021-11-30 at 3 51 10 PM](https://user-images.githubusercontent.com/54673061/144029438-639f97d2-221b-4af1-826b-eaccec266ef2.png)

[2021-11-30 10:32] iosiappmemes commented on #1647
Hi @nuno-vieira ,
I make changes in the code .
I just commented these few lines of code . it works fine for me.
//        guard channel?.latestMessages.first?.author.id != userId else {
//            callback {
//                completion?(nil)
//            }
//            return
//        }

[2021-11-30 10:35] nuno-vieira commented on #1647
I see.. we will make sure we change this, but for now, you can use this instead:
`messageListVC.listView.isLastCellFullyVisible`

[2021-11-30 10:42] nuno-vieira commented on #1647
You can't comment those lines of codes. This is clear that something is wrong with your data. This only marks the channel read, if the last message is not from the current user.

[2021-11-30 10:44] iosiappmemes commented on #1647
Okay

[2021-11-30 10:44] iosiappmemes commented on #1647
Let me try this one. will let you know.

[2021-11-30 10:47] nuno-vieira commented on #1647
@iosiappmemes Print out the user id of the current user (`userId`) and the `channel?.latestMessages.first?.author.id` and see if they are the same or if some of that id is `nil`.

[2021-11-30 10:51] iosiappmemes commented on #1647
@nuno-vieira , this is the actual issue, actually there are 5 members in the channel , and the last message is from my side (Logged in  user). So in this case this condition becoming wrong. so thread is returning from here. and red dot is staying there.
[code]

[2021-11-30 10:51] iosiappmemes commented on #1647
Okay let me check.

[2021-11-30 10:56] nuno-vieira commented on #1647
If the last message if from your side (current user) how didn't you see it? If it was you sending the message? This is not making any sense

[2021-11-30 10:57] iosiappmemes commented on #1647
Yes , I don't know why it is showing red dot on the channel. the last message is from my side. and see I printed out the last message author id and current user id, Both are same.
last Message userID Optional("128")
My id ==> Optional("128")

[2021-11-30 10:59] iosiappmemes commented on #1647
Let me reproduce the issue , I will give you the complete details shortly.

[2021-11-30 11:14] iosiappmemes commented on #1647
This is the quick fix , it works fine now. thanks @nuno-vieira

[2021-11-30 11:18] nuno-vieira commented on #1647
Nice 👍 We will make sure to add that on the `viewDidAppear` as well in future releases. For now, you can do that yourself as a workaround 👍

[2021-11-30 11:43] vladpre92 commented on #1647
@nuno-vieira I think you could easily reproduce the problem with the following steps:
1. Downgrade to 4.1.0 or 4.0.0.
2. Reproduce the bug that #1569 fixes in 4.2.0 with the specification that after receiving the message from the other user (that makes unreadCount = 1), you send a message. This makes a channel with unreadCount = 1 and last message sent by current user.
3. Kill the app or go back t

[2021-11-30 12:17] iosiappmemes commented on #1647
@vladpre92 , That was the old case related to that video,
But I got the another case as you can see I printed out the both the user ides

[2021-11-30 12:20] nuno-vieira commented on #1647
@iosiappmemes @vladpre92 Yes we will change the implementation soon. We already have it planned. We will move the call to `viewDidAppear` as well as remove the `channel?.latestMessages.first?.author.id != userId` condition since it is a bit overprotective. With this in place, we should have all issues fixed and a more stable mark read functionality 👍

We will update the ticket as soon we fix this.

[2021-12-01 19:26] bielikb commented on #1647
Hi all,

we just released new [version 4.5.1](https://github.com/GetStream/stream-chat-swift/releases/tag/4.5.1) that contains the fix provided by @nuno-vieira.

Please try the new release and let us know if the changes provided has fixed your reported issues.

thanks!

Best,
Boris

[2021-12-01 19:31] bielikb commented on #1629
Hi @vineethnkforios,

we just released new version [4.5.1](https://github.com/GetStream/stream-chat-swift/releases/tag/4.5.1) that contains fix for your issue.

Can you please give it a try and let us know if your issue got resolved by 4.5.1?

Thanks!

Best,
Boris

[2021-12-01 19:51] #1647 closed

[2021-12-01 19:51] #1629 closed

[2021-12-03 10:50] adamrushy commented on #1601
Hey, @BarragaoA I have been investigating this today. I am unable to get a reproduction of this crash on iOS 12. Can you reproduce this every time? If you can, are you able to share some code snippets covering this area? If you can even share a sample project that will help massively 👍🏼  thanks in advance.

[2021-12-06 21:33] kishinmanglani opened #1667 "Make dateFormatter open in ChatMessageContentView"
## Customize timestamp in `ChatMessageContentView`

## Make dateFormatter open in `ChatMessageContentView` to allow for custom `DateFormatter`

`dateFormatter` is currently `public`, not `open`, so I can't override

## GetStream Environment
**GetStream Chat version: 4.6

[2021-12-09 00:02] srgray opened #1677 "ChatMessage.currentUserReactions is not accurate"
## What did you do?
I want to access `ChatMessage.currentUserReactions` from my `ChatMessageContentView` subclass method `updateContent`. The simplest way to see the bug behavior is to add a print statement to the Stream Demo app (see below).

## What did you expect to happen?
I expected the contents of `ChatMessage.currentUserReactions` to always be accurate.

## What happened instead?
The conten

[2021-12-09 10:48] evsaev commented on #1677
Hey there @srgray 👋

Thanks for the report and especially for the extensive context!
I'm looking into this issue and will keep you posted with the updates.

Thank you!

[2021-12-09 13:56] evsaev commented on #1677
@srgray yes, I can confirm the issue takes place. I'm taking it to work and will ping you once it's fixed.

[2021-12-09 15:59] basememara opened #1678 "Chat messages failing decoding in SDK.. production down"
## What did you do?
The chat is broken and seems to be on the GetStream server-side. This is the error that's coming back in the logs from production apps in the field (and local debug versions). Did GetStream change the shape of endpoints without updating the SDKs or provide backwards-compatibility?

## What did you expect to happen?
No errors and chat working.

## What happened instead?
No chat

[2021-12-09 16:01] b-onc commented on #1678
Hello @basememara

You're correct, this is a backend error. Backend is working hard on fixing it - we're expecting this issue to be resolved very soon (less than an hour)

[2021-12-09 16:53] bielikb commented on #1550
Hi @yensi-vega just checking once again. Could you please follow the above suggested steps from my previous post?

PS: the latest version is 4.5.1

[2021-12-09 20:15] martinmitrevski commented on #1678
Hello @basememara,

The issue is resolved now. We are sorry for the inconveniences.

[2021-12-09 20:15] #1678 closed

[2021-12-10 17:34] evsaev commented on #1677
Hey @srgray 👋

We've just rolled out the [4.5.2](https://github.com/GetStream/stream-chat-swift/releases/tag/4.5.2 ) release with the fix. Feel free to reopen this issue it you'll notice the regression is still there.

Thank you so much! 🤝

[2021-12-10 17:34] #1677 closed

[2021-12-13 09:10] adamrushy commented on #1601
Hey, @BarragaoA just checking in to see if you saw the above message? And if you've been able to find some code snippets for me? Thank you!

[2021-12-13 12:43] b-onc commented on #1667
Hello @kishinmanglani ,

Thank you for the report. We'll make sure `dateFormatter` can be customized in a future release, although I can't promise a version for it.
Fortunately, there's a workaround: You can create and use your own `DateFormatter` to customize `timestampLabel`:
[code]

Let me know if this resolves your question.

[2021-12-14 02:43] tokirin opened #1688 "Add membersLimit filter in ChannelListQuery"
## What are you trying to achieve?
Hello.
It has been observed that the performance of synchronizing `ChatChannelListController` becomes significantly slower when there are many channels with a large number of user.
So, I want to optimize performance by adding a `membersLimit` filter to the `ChannelListQuery`
This is because it is not necessary to bring individual member information to the view of

[2021-12-14 13:21] b-onc commented on #1688
Hello @tokirin

That's a good addition, thank you for suggesting it. Since we're in the process of rolling out the next version, this can't go into it, but we'll add it into the version after that one.

[2021-12-15 14:11] BarragaoA commented on #1601
Hello,

If you go on a channel, send a picture, do you see something weird ? In my case the picture is broken and then if I leave and go back on the channel the app crash. (only for iOS 12)
![Simulator Screen Shot - iPhone 8 - 2021-12-15 at 12 03 13](https://user-images.githubusercontent.com/86778557/146175462-602448b7-8487-41df-b024-3bcbf54b54ad.png)

Concerning the code, we do not do something s

[2021-12-15 16:21] nuno-vieira commented on #1570
Hi @cjmconie!

Yes as @martinmitrevski we have a new SwiftUI SDK that might be useful for you 🙂

Anyways, unfortunately, the current keyboard handler tries to handle the most common cases, but for this particular case, I'm afraid it won't work because yours is a bit special. Our keyboard handler relies a lot on AutoLayout and it does work with a UIKit TabBar but not embedded in a customer SwiftUI

[2021-12-15 20:45] yuehengshi opened #1693 "ChatChannelAvatarView is blurred"
## What did you do?
The avatar image sometimes is blurred, not clear

## What did you expect to happen?
Showing clear image

## What happened instead?

## GetStream Environment
**GetStream Chat version: 4.5.1
**GetStream Chat frameworks: StreamChat, StreamChatUI
**iOS version: 15
**Swift version: 5
**Xcode version: 13.1
**Device: iPad

## Additional context
![WechatIMG3](https://user-images.github

[2021-12-17 15:33] nuno-vieira commented on #1693
Hi @yuehengshi ! This seems to be a duplicate of https://github.com/GetStream/stream-chat-swift/issues/1541. We still can't reproduce this issue. Can you analyse the response from the Channel List and check which codec is the images using?

Thank you for the report!

[2021-12-17 15:52] b-onc commented on #1572
Hello,

We've released 4.6.0 which should resolve this issue.

I'm closing this ticket since we moved the discussion to our internal support. Ticket number #16649

[2021-12-17 15:52] #1572 closed

[2021-12-17 18:15] yuehengshi commented on #1693
Could you explain what the codec means? Is it the "Nuke" used in the StreamChatUI?

Btw, I would like to show you the view structure of my project. The app has several tabs, for the chat page, there is a container view where the chat channel view controller is embedded in. I have tried to move the chat page to the first tab, the avatar showed very well, whereas when I moved it to the last tab, the

[2021-12-17 18:43] yuehengshi commented on #1693
I just figured it out!
I was like, initiating the "ChatChannelListVC"  after fetching the auth token in a thread, then adding it to the container view.
What I'm doing now is to initiate it in the main thread and add it to the container view, which is working well!

[2021-12-17 18:45] nuno-vieira commented on #1693
Glad you figured it out! 😃 Thank you! I'll close the issue, and link this to the other reported ticket to see if they can fix it in the same way 👍

[2021-12-17 18:45] #1693 closed

[2021-12-17 18:51] nuno-vieira commented on #1541
@whiplash00 @kishinmanglani Is this still reproducible on the most recent versions of the SDK?

We did try to follow all the steps and still were not able to reproduce this issue.

Thank you for your help!

[2021-12-17 19:43] yuehengshi opened #1704 "ChatChannelListVC does not observe and update the newly created channel after the old channel has been deleted"
Same as the #392
## What did you do?
1. Create a channel using js
`
       const channel = client.channel('messaging', {
            members: [uid1, uid2]
        });
        await channel.create();
`
2. The newly created channel shows up in the ChatChannelListVC
3. Then delete the channel by using js code `await channel.delete()`
4. The channel disappears from the ChatChannelListVC
5. Create a ch

[2021-12-17 23:19] j-j-m opened #1705 "Separate set/delete of user metadata from connection"
## What are you trying to achieve?

when I set extraData on a user

[code]

I can see this data reflected in the data explorer.

now if I rebuild my app and execute the following

[code]

the extra data is wiped...  this is also the case with the imageURL, etc

## What would be the better way?

it would be wonderful to separate the setting/deletion of user metadata from connecting a user

## GetSt

[2021-12-20 09:10] tbarbugli commented on #1705
@j-j-m thank you for reporting this, I am looking into it and will let you know soon

[2021-12-20 09:12] tbarbugli commented on #1704
@yuehengshi thank you for reporting this issue, we're looking into it and will let you know soon

[2021-12-20 10:07] tbarbugli commented on #1704
I did a quick manual test and follow the steps you described but I could not reproduce this. Can you share more on how you re-create the channel and also include the code that you use around the `ChatChannelListVC` (ie. query channels filters)

In most cases the `ChatChannelListVC` only shows channels where the user is a member, is it possible that the re-created channels does not have the user as

[2021-12-20 10:41] tbarbugli commented on #1705
@j-j-m I am having trouble reproducing this problem on iOS. Just to clarify both `updateUserData` and `connectUser` use an upsert approach for user fields.

This is what I did to try and reproduce the problem:

[code]

I tried all possible combinations with and without the `updateUserData` call but I did not manage to get `connectUser` or  `updateUserData` to remove a field by omission.

Do you mi

[2021-12-20 14:29] vladpre92 opened #1710 "Presenting message popup actions without reactions view controller causes glitch on options list view"
## What did you do?
Tried to present popup actions list for a message, but without  reactions view controller.

## What did you expect to happen?
Show message popup actions list without glitch.

## What happened instead?
Message popup actions list presented with glitch.

## GetStream Environment
**GetStream Chat version:** 4.5.2
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version

[2021-12-20 17:03] yuehengshi commented on #1704
Thanks for the response.

1. Re-create the channel (js)
`const channel = client.channel('messaging', {
            members: [uid1, uid2]
        });`
 `await channel.create();`
2. The code around the ChatChannelListVC (Swift)
`
// after fetching token, get back to the main thread to init the chat list view
DispatchQueue.main.async {

                let query = ChannelListQuery(filter: .containMem

[2021-12-20 18:09] j-j-m commented on #1705
I think you may be missing something. if you run the code you posted above then remove the
[code]
 from the connect user callback and run your code again does the "testing-this" field remain?

 In my case I am adding a channel id to an array on my users extraData to track my recently viewed channels. when I restart the app this and subsequently reconnect a user this extra data is cleared after `ch

[2021-12-22 20:40] tbarbugli commented on #1705
@j-j-m I tried all possible combinations (running connect+updateUserData, then connect only, then updateUserData again, ...) but never managed to reproduce this. Do you have any other code update users? (perhaps running server-side)

[2021-12-23 01:00] j-j-m commented on #1705
I really don't think so, but I can make 100% certain. I wonder if maybe this is because I am using a development app.

[2021-12-23 01:12] j-j-m commented on #1705
you know that might be it. I see updateUser being called when our server side code generates a token. probably don't need to do that.

[2021-12-23 18:53] j-j-m commented on #1705
This was the case. thanks for helping me work through this.

[2021-12-23 18:53] #1705 closed

[2021-12-28 11:36] nuno-vieira commented on #1710
Hi @vladpre92!

Thanks for reporting this issue! We will tackle this as soon as possible and let you know when we have a fix for this 🙂

Best,
Nuno

[2021-12-28 13:02] tbarbugli commented on #1704
unfortunately I am still unable to reproduce this, in my test I followed the same code steps but I always end up with the channel appearing in the list.

Would you mind adding `LogConfig.level = .debug` to your app and paste the logs after you re-create the channel?

Debug logs are very verbose, please clear the console right before running the step 7 (channel re-creation).

[2021-12-29 11:09] vladpre92 opened #1739 "ChatMessageCell dateSeparatorView property should be public"
## What did you do?
Tried to override ChatMessageCell dateSeparatorView content format.

## What did you expect to happen?
To be able to do it.

## What happened instead?
I can't.

## GetStream Environment
**GetStream Chat version:** 4.7.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** Any
**Swift version:** 5
**Xcode version:** 13.1
**Device:** Any

## Additional context

[2021-12-29 13:21] nuno-vieira commented on #1739
Hi @vladpre92! Indeed the `dateSeparatorView` is meant to be internal for now. Anyway, one way should be able to change this is by changing the `DateFormatter.messageListDateOverlay` but unfortunately the formatted is a `static let` and it should be a `static var` instead. We can open a quick PR to change this. Would this be enough for you? Or by changing only the formatter is not enough for you?

[2021-12-29 13:47] vladpre92 commented on #1739
Thank you for your prompt response!
Either way is ok for us.
Thank you!

[2021-12-30 12:50] #1667 closed

[2022-01-02 21:48] tbarbugli commented on #1688
@tokirin this feature was added and released on 4.7.0

[2022-01-02 21:48] #1688 closed

[2022-01-02 21:49] #1570 closed

[2022-01-02 22:16] tbarbugli commented on #1710
@nuno-vieira easy way to reproduce this (ChatMessageListRouter)

![image](https://user-images.githubusercontent.com/88735/147890771-70c4f880-60fb-402a-a21b-1b461f1e7a09.png)

If you enable slow animations you can see clearly what is going on

[2022-01-03 10:30] tbarbugli commented on #1541
@kishinmanglani good news, we finally managed to reproduce this and have a good idea on how to fix this. We will post an update soon

[2022-01-03 19:01] yuehengshi commented on #1704
I was unable to get the log working.
The code I'm using is
`let config = ChatClientConfig(apiKey: .init("API KEY"))`
`LogConfig.level = .debug`
`ChatClient.shared = ChatClient(config: config)`
`ChatClient.shared.connectUser(
        userInfo: UserInfo(
            id: "uid",
            name: "xxx",
            imageURL: "url"
        ),
        token: token
    )
`
Unfortunately I didn't see and

[2022-01-04 16:55] nuno-vieira commented on #1550
This issue should be resolved now @yensi-vega. Feel free to re-open if you find any problem.

Thank you for the report!

[2022-01-04 16:55] #1550 closed

[2022-01-06 06:57] Mohammed-Shafeer opened #1750 "channelRole key required in ChatChannelMember"
## What did you do?
channelRole key is missing in ChatChannelMember

## What did you expect to happen?
channelRole key should be present

## What happened instead?
channelRole key is missing

## GetStream Environment
**GetStream Chat version:**
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:**
**Swift version:**
**Xcode version:**
**Device:**

## Additional context

[2022-01-06 08:40] tbarbugli commented on #1750
@Mohammed-Shafeer can you provide some more information about this? From which type is `channelRole` missing?

[2022-01-06 11:51] Mohammed-Shafeer commented on #1750
I have exposed the _channelRole_ key in the following [PR](https://github.com/GetStream/stream-chat-swift/pull/1751)
Please check
Thanks Much

[2022-01-07 10:15] adamrushy commented on #1750
Hey, @Mohammed-Shafeer thanks for opening this issue and the PR.

We're having to make some tweaks to your requested changes and we'll let you know when it's ready 👍🏼

Thanks,
Adam

[2022-01-07 14:22] #1541 closed

[2022-01-07 14:22] polqf commented on #1541
@kishinmanglani this issue should be fixed now, and will be part of the upcoming release. Thank you for your report!

[2022-01-07 19:02] bradleyrzeller commented on #1307
Is there any update on this? We are presenting a `ChatChannelVC` in a system modal. As was described above in previous comments, the "fix" prevents the modal from actually being dismissed while dragging on the list view however, the entire modal is still being scrolled down while the user gestures up.

I'd like to avoid rolling my own system modal transition "replica." Are there any other workarou

[2022-01-12 11:26] nuno-vieira commented on #1601
@BarragaoA Is this still reproducible in the more recent versions of the SDK? Are you customizing the message view? If the image is not rendered properly it could be an issue with that customization. Also, why are you delaying 0.5 seconds for the presentation of the `chatVC`?

[2022-01-12 11:31] nuno-vieira commented on #1588
Hi @vladpre92, this issue doesn't seem reproducible in the more recent versions of the SDK, can you confirm?

Thank you!

[2022-01-12 12:56] vladpre92 commented on #1588
Hello,
Yes indeed with newer versions (I use 4.7.0) is very hard to reproduce this. I tested with live photos just now. Before, I was able to reproduce this issue with any photo taken with phone camera.

[2022-01-13 09:35] BarragaoA commented on #1601
Hello,
It is fixed now !
Honestly I do not really know why there's a delay (was like that before I work on it). I'm going to remove it if there is no issue.
Thank you for your help !

[2022-01-13 09:35] #1601 closed

[2022-01-14 23:12] virbedi opened #1756 "Cannot perform actions on long messages."
## What did you do?
Sent a long message in chat.
Tried to long press on message to get action list.

## What did you expect to happen?
Action list for message is visible

## What happened instead?
Could not see the action list, long message took up entire screen.

## GetStream Environment
**GetStream Chat version:** = StreamChatUI 4.8
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS v

[2022-01-18 13:04] bielikb commented on #1756
Hi @virbedi,

I was able to reproduce this issue. Ill file a bug internally and we will cover this issue in one of the following releases.
Ill let you know once this is resolved.

Thanks for reporting!

Best,
Boris

[2022-01-18 13:12] bielikb commented on #1739
Hi @vladpre92,

we're going to add possibility to configure your formatters in one of the following releases.

We will notify you, once this is done.

Best,
Boris

[2022-01-18 16:19] polqf commented on #1541
We just released 4.9.0, which contains the fix for this issue: https://github.com/GetStream/stream-chat-swift/releases/tag/4.9.0

[2022-01-19 14:18] vladpre92 opened #1759 "Image cache broken on older devices"
## What did you do?
Updated to 4.9.0. Also installed DemoApp from this repository.

## What did you expect to happen?
Image caching to work.

## What happened instead?
It seems image caching is broken.

## GetStream Environment
**GetStream Chat version:** 4.9.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** 15.0
**Swift version:** 5.0
**Xcode version:** 13.1
**Device:** i

[2022-01-19 14:47] bielikb commented on #1759
Hi @vladpre92,

thanks for reporting this issue. I create a bug issue to cover this work internally.
Ive tried to reproduce this issue internally using our demo app and the same channel on both iOS simulator + device (iPhone 12 Pro - iOS 15.2) but in the end couldnt repro this issue.

If this issue is 100% reproducible on your side, could you please write the steps down?
Thanks!

Best,
Boris

[2022-01-19 15:17] vladpre92 commented on #1759
I begin to think this is a hardware issue or something. Maybe too much image processing for my iPhone 7. I had the feeling that I could reproduce it on simulator as well but I was wrong. It's all good on my simulator.
I can reproduce it 100% only on my iPhone 7. I didn't have this problem with 4.8.0 on the same device so maybe this version is harsher on the hardware when displaying images?

[2022-01-19 15:34] bielikb commented on #1759
I see. We will try to investigate.

Will keep you updated!

Best,
Boris

[2022-01-19 15:36] bielikb commented on #1750
Hey @Mohammed-Shafeer,

we track the work internally, for now, we're going to close your PR and resolve the issue in one of the following iOS releases.

Thanks for your findings, they're really appreciatted.
We will keep you updated!

Best,
Boris

[2022-01-21 12:03] vladpre92 opened #1762 "QuotedChatMessageView causes message list flicker"
## What did you do?
Added a quoted message with the last DempApp

## What did you expect to happen?
Everything to be good looking

## What happened instead?
Layout vertical spacings are updating late causing a flicker.

## GetStream Environment
**GetStream Chat version:** 4.9.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** 15.0
**Swift version:** 5.0
**Xcode version:** 1

[2022-01-24 17:58] linhewinner commented on #1595
It seems like ConnectionRecoveryUpdater has an option to use the Sync endpoint, which would presumably fetch and replay all the missing events while the client is offline:
https://github.com/GetStream/stream-chat-swift/blob/c18de959292ed01e064640f6a0a085afaf158c96/Sources/StreamChat/Workers/Background/ConnectionRecoveryUpdater.swift#L115

Wouldn't that work here?

[2022-01-25 20:06] j-j-m opened #1767 "DTO Crashes since integrating 4.9.0"
## What did you do?
installed 4.9.0

## What did you expect to happen?
My app would continue working as normal

## What happened instead?
it intermittently crashes with this stack

<img width="463" alt="Screen Shot 2022-01-24 at 2 13 47 PM" src="https://user-images.githubusercontent.com/5327798/151051455-ea1acc93-d502-4f92-959d-fdf731592a2f.png">

## GetStream Environment
**GetStream Chat version:

[2022-01-25 22:57] j-j-m commented on #1767
was able to track it down to this. trying to map the controllers channel to their view models... not sure if that brings any more insight

<img width="765" alt="image" src="https://user-images.githubusercontent.com/5327798/151073356-e4d17dcc-f767-408c-894f-55bcc961a184.png">

[2022-01-27 08:52] adamrushy commented on #1767
Thanks for the report @j-j-m I have created a ticket internally so we can investigate this further. Quick question, do you have any reproduction steps?

[2022-01-27 08:54] adamrushy commented on #1762
Thank you for reporting @vladpre92 I can see the issue. I am going to create a ticket internally to get this fixed :] will update you on the progress, thanks again!

[2022-02-02 09:30] bielikb commented on #1667
Hi @kishinmanglani,

our latest release 4.10.0 now provides a way to format the timestamps in more convenient way. Make sure to check our [Data Formatting](https://getstream.io/chat/docs/sdk/ios/uikit/data-formatting/) article to learn more.

[2022-02-02 12:33] nuno-vieira commented on #1739
Hi @vladpre92,

Thank you for your patience!

Our latest release 4.10.0 now provides a way to format the timestamps in a more convenient way. Make sure to check our [Data Formatting](https://getstream.io/chat/docs/sdk/ios/uikit/data-formatting/) article to learn more.

In your particular case, if you change the `Appereance.formatters.messageListSeparator`with your custom one, it will change the st

[2022-02-02 12:33] #1739 closed

[2022-02-02 15:08] nuno-vieira commented on #1307
Hi @MatejBalantic! @bradleyrzeller @Lascorbe !

This is now supported on the new 4.10.0 release, in order to fix this you need to use our custom translation delegate. Like this:

[code]

For more details, you can check the release changelog here: https://github.com/GetStream/stream-chat-swift/releases/tag/4.10.0

Let us know if you have any questions!

[2022-02-02 15:08] #1307 closed

[2022-02-03 12:09] b-onc commented on #1767
Hello @j-j-m ,

Can you share the `cid`s you're fetching and your app id (not api key)?

[2022-02-03 18:00] j-j-m commented on #1767
sorry I don't remember the cid's, but I was able to fix this in the end.

basically how my app works is I collect a list of ids and then create this channel controller and synchronize...
I found that the code was creating this channel controller with a new query with each element added to the array.
maybe it was a data race issue or something, but debouncing the creation of  the channel controller

[2022-02-03 18:00] #1767 closed

[2022-02-03 18:42] soyeb313 opened #1778 "i want to display user avatars who read messages in bottom of bubbleview"
## What are you trying to achieve?

i want to display user avatars who read messages in bottom of bubbleview
## If possible, how can you achieve this currently?
No idea about this... i am tried to inject read status  data in contentview but  not working..

## What would be the better way?

## GetStream Environment
**GetStream Chat version:** 4.0.0'
**GetStream Chat frameworks:** StreamChat, Stream

[2022-02-04 10:39] nuno-vieira commented on #1778
Hi @soyeb313!

This is currently a missing feature on the iOS SDK that will be soon ready.

Meanwhile, if you can't wait, you can have access to the channel reads information in the message cell like this:

[code]

This is just an example, but with this, you can see how to get the reads information in the message view.

Let us know if you have any questions!

Thank you,
Nuno

[2022-02-04 14:18] #1778 closed, assigned to nobody

[2022-02-04 14:20] adamrushy commented on #1079
I believe this issue is fixed in our latest version of the SDK, closing this issue.

[2022-02-04 14:20] #1079 closed

[2022-02-04 17:52] khoogheem opened #1782 "Constant The operation couldn't be completed. (Starscream.WSError error 1."
## What did you do?
In the last few weeks we have been seeing a lot of issues with socket connections to stream, which pops up the Banner that we are getting WSError err 1

Currently we are still using 2.6.9 (can't make the move to 4.X right now)
Pointed at the base (east)

from our Log of Stream Logger
[code]

## GetStream Environment
**GetStream Chat version: 2.6.9
**GetStream Chat frameworks:**

[2022-02-09 10:54] adamrushy commented on #1762
@vladpre92 Hey, just an update to say we have this ticket scoped out and is in the backlog to be worked on, will update when it's completed :]

[2022-02-09 16:27] khoogheem commented on #1782
Thanks -

Let me see if I can get logs..
But yes it looks like we do a two hour window on the `exp`

[2022-02-10 11:32] b-onc commented on #1782
@khoogheem I don't think this is caused by expired tokens, but it might be related to it.

[2022-02-15 17:17] linhewinner opened #1793 "In ChannelView, Swipe-to-navigate-back causes the scrollView to shift offset if keyboard is up."
https://user-images.githubusercontent.com/97132583/154113306-521e72f9-77c7-4f86-875f-9b6be433391d.mp4

## What did you do?
In ChatView, bring up the keyboard. Swipe to navigate back to thread list. Notice that the message list scrollView is scrolling down as you swipe.

## What did you expect to happen?
The scrollView offset should be stable during the swipe

## What happened instead?
The scrollVi

[2022-02-15 17:20] linhewinner opened #1794 "ThreadList tap state (row highlight state) doesn't go away in airplane mode"
https://user-images.githubusercontent.com/97132583/154114497-77afc1ec-9c43-4bdf-b031-ab89a3b834e2.mp4

## What did you do?
Turn on airplane mode. Tap on a row in Thread List. Navigate back.

## What did you expect to happen?
The tap state of the row should go away.

## What happened instead?
The tap state of the row doesn't go away (the tapped row is still displayed as highlighted).
Note that this

[2022-02-15 17:47] linhewinner opened #1795 "UI to indicate read state (e.g. double check if the other person has read the messages)"
I tried StreamChat's Web React, Flutter and SwiftUI SDKs, they all implement some kind of read state UI (e.g. double check to indicate the other person has read the message).
We have decided to use this UIKit SDK (as opposed to Flutter or SwiftUI) because it offers the best perf and stability. I am curious to notice that there isn't any read state UI.

Did I miss something?

## GetStream Environme

[2022-02-15 19:10] nuno-vieira commented on #1795
Hi @linhewinner,

Thank you for your time in opening an issue!

Yes, the iOS SDK is a bit behind right now in that feature, it is something that we will soon start to work on. In the meantime, you can implement this yourself if for some reason you can't wait for the feature. Here is a discussion on how to implement it: https://github.com/GetStream/stream-chat-swift/discussions/1615.

Best,
Nuno

[2022-02-15 19:15] nuno-vieira commented on #1793
Hi @linhewinner !

Thank you for the report! We will investigate this as soon as possible and will update you whenever we have a fix.

Best,
Nuno

[2022-02-15 19:15] nuno-vieira commented on #1794
Hi @linhewinner!

Thank you for the report! We will investigate this as soon as possible and will update you whenever we have a fix.

Best,
Nuno

[2022-02-15 20:10] tomSidebar opened #1796 "Custom ordering of MessageReactionType"
## What are you trying to achieve?
Customizing the order message reactions.

## If possible, how can you achieve this currently?
Currently not possible, reactions get sorted and displayed alphabetically (following https://getstream.io/chat/docs/sdk/ios/uikit/views/reactions/#custom-reactions-and-images).

## What would be the better way?
Retain the order in which the custom reactions are being add

[2022-02-15 20:12] adamrushy commented on #1795
Moving to Github Discussions so others can see this, thank you!

[2022-02-16 18:08] linhewinner commented on #1796
Note that it's not just the reactions attached to a message (which can be accomplished by sorting by createdAt)

We are also talking about the Reaction picker itself.
That list is also sorted alphabetically.

[2022-02-17 17:43] nuno-vieira commented on #1704
Hi @yuehengshi!

This is now fixed on the newest [4.10.1](https://github.com/GetStream/stream-chat-swift/releases/tag/4.10.1) release!

Going to close the issue, but feel free to open it again if you find any problems!

Best,
Nuno!

[2022-02-18 20:45] yuehengshi commented on #1704
Awesome! I'll update and have a look, thank you!

[2022-02-20 05:17] linhewinner opened #1804 "Photo viewer dismissal animation is totally off for a photo taken from iPhone 13 Pro"
https://user-images.githubusercontent.com/97132583/154829341-e32f7cdf-a2d5-4295-b234-b44a21bd6779.mp4

See attached video. I tapped on a photo from ChatChannelView, and dismissed it. For most photos, the animation works perfectly fine ... but today after sending a photo from my iPhone 13 Pro, I noticed that the dismissal animation looks totally wonky.

Some other information that may help you debu

[2022-02-20 05:41] linhewinner opened #1805 "ChatChannelListVC ignores taps if you tap quickly after navigating back from ChatChannelView"
1. Go to ChatChannelVC.
2. Return to ChatChannelListVC.
3. Tap on a row quickly ... tap is often ignored. A second tap would work.
Note that I have localStorage enabled.

I'll explain the root cause and my work-around. I hope Stream can put this fix into ChatChannelListVC so others won't have to wrestle with this.

When you return from a ChatChannelVC, I observed that some channels often get updat

[2022-02-20 05:42] linhewinner commented on #1804
I see that this may be similar to this issue:
https://github.com/GetStream/stream-chat-swift/issues/1588

That issue seems to have stalled because it's so difficult to reproduce.

I suggest that you guys try an iPhone 13 Pro (the bug repros for me with or without Live photos), and see if you can easily repro.
If you still can't repro ... I am happy to do some debugging and let you know what the ro

[2022-02-20 17:18] nuno-vieira commented on #1805
Hi @linhewinner!

Thank you for taking the time on opening this issue!

This is a known issue that we currently have and we are already investigating and working on it. Although your solution works by disabling the animations, the root cause actually comes from 2 places, from the Avatar View which is doing a lot of work currently on the main thread when merging multiple user images and also when g

[2022-02-21 07:11] EuyjaeHwang opened #1806 "ChatMessage.replyCount is not correct when quoting parent message"
## What did you do?
I watched message list by using ChatChannelController
[code]
And I send a reply to a message

## What did you expect to happen?
I expected the value of `ChatMessage.replyCount` to be correct value. Always

## What happened instead?
[code]
`ChatMessage.replyCount` value comes with the previous value.
for example, when I write first reply on the message, the message's reply count

[2022-02-21 11:12] bielikb commented on #1806
Hi @EuyjaeHwang,

thanks for the report. Im going to check if this issue is still reproducible in our latest release 4.10.1 and will come back to you.

Best,
Boris

[2022-02-23 01:46] tomSidebar opened #1809 "Change send button size"
## What are you trying to achieve?
Trying to increase the size of the send button in the Message composer to match the height of the message input.

## If possible, how can you achieve this currently?
Haven't been able to make this work yet.

## What would be the better way?
Offer some customization option for button sizes similar to other offered customizations (https://getstream.io/chat/docs/sdk

[2022-02-23 11:39] bielikb commented on #1809
Hi @tomSidebar,

you can achieve this customisation by following these steps.

1. Create your own custom subclass of `ComposerView` that will set the desired dimensions of the `sendButton`/`confirmationButton`

[code]

2. Leverage the new subclass in your integration
[code]

This will result in following layout.

<img width="396" alt="Screenshot 2022-02-23 at 12 28 48" src="https://user-images.git

[2022-02-23 18:05] tomSidebar commented on #1809
@bielikb Thank you so much! This is exactly what I needed!

[2022-02-23 18:05] #1809 closed

[2022-02-24 04:32] EuyjaeHwang commented on #1806
I didn't use a StreamChatUI SDK. I'm just using a StreamChat SDK. 😅

[2022-02-25 07:48] bielikb commented on #1782
Hi @khoogheem,

Im just following here. Is the issue still occuring? Do you have any updates? Please let us know how we could help you

Also, we can help you to migrate to our latest version, once you'll be ready. Our v4+ is actively maintained and it's more likely any reported issues will be resolved within feasible timeframe.

Thanks for understanding.

Best,
Boris Bielik

[2022-02-25 07:53] bielikb commented on #1759
Hi @vladpre92,

Just a followup here. I added this issue to our internal backlog and we will tackle it in one of the following releases.

Best,
Boris

[2022-02-25 07:54] bielikb commented on #1588
Hi @vladpre92,

I was able to repro this issue. I created issue in our internal backlog. We will try to fix this issue in one of the following updates.
Once released, we'll keep you updated.

Best,
Boris

[2022-02-25 14:08] b-onc commented on #1806
Hello @EuyjaeHwang ,

I wasn't able to reproduce this issue with the latest SDK version (4.10.1)

What I did:
1. I've overridden the `didUpdateMessagesFunction` like so:
[code]
2. I've thread replied to a message and observed the logs.

There are 3 update logs:
1. Message is inserted into the DB with `pendingSend`
2. Message is being sent, so becomes `sending`
3. Message is successfully sent, so b

[2022-02-25 14:38] b-onc commented on #1585
Hello @vladpre92 ,

I've checked and confirmed that this is not a bug.

You see, channel watchers and online members are 2 different lists. A "watcher" doesn't have to be a "member" (although does need to be online), any user can watch any channel (if permissions permit)

By default, StreamChat SDK doesn't request watchers of a channel. To do so, `channelController` should be created like so:
[cod

[2022-02-25 14:38] #1585 closed

[2022-02-28 21:24] linhewinner opened #1815 "Profile picture view flickers when you go to a ChatView and comes back to ThreadListView"
https://user-images.githubusercontent.com/97132583/156060918-2644ad39-5681-4a3a-b2b1-b2c0be740d72.MOV

See attached video.
It doesn't happen to me 100% but quite often ... I haven't pinned down the exact repro conditions yet. Is this a KP you guys are working on?

## GetStream Environment
**GetStream Chat version:** 4.10.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:**
**

[2022-02-28 21:27] linhewinner opened #1816 "link message flickers when you open a ChatView"
https://user-images.githubusercontent.com/97132583/156061270-42d1d1b2-c8c5-4a18-b48f-b37054ebc2ce.MOV

See attached video.
It look as though the links were rendered as normal text initially for a split second before it is turned into a link

## GetStream Environment
**GetStream Chat version:** 4.10.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:**
**Swift version:**
**Xcod

[2022-03-01 12:33] ajay-simform opened #1818 "Deleted chat doesn't remove from channelList"
## What did you do?
1. Create a channel with multiple users.
2. Newly created channel displayed in the channel list for all channel members.
3. Admin user deletes the channel with `channelController.deleteChannel()`

## What did you expect to happen?
- Deleted channel should remove from channelList for all channel members.

## What happened instead?
- Deleted channel still remain in the user's cha

[2022-03-01 14:12] b-onc commented on #1815
Hello @linhewinner

Can you share Stream app id (not api key), channel id and user id for reproduction purposes?

[2022-03-01 14:17] b-onc commented on #1816
Hello @linhewinner

Thanks for the report. We're looking into it and will get back to you.

[2022-03-01 14:19] b-onc commented on #1818
Hello @ajay-simform ,

Can you share the query you're using for displaying Channel List?

[2022-03-01 15:25] quinwoods opened #1820 "Mistake within iOS Introduction."
## What did you do?
Following the Documentation.

## What did you expect to happen?
For code to work when I copied it.

## What happened instead?
It didn't

## Additional context
While pursing [your website](https://getstream.io/chat/docs/ios-swift/?language=swift) there is a mistake within your given code. A simple one so not to hard to fix.
[code]

The bottom should be
[code]

[2022-03-01 15:37] b-onc commented on #1820
Hello @quinwoods
Thanks for the report. We've fixed this typo and published the page. The update might take a while to become online.

[2022-03-01 15:37] #1820 closed

[2022-03-01 19:52] linhewinner commented on #1815
app id: 1161150
cid: messaging:SidebarTeam
user id: RGeQItGWWoyiSA443iEA

[2022-03-02 05:40] ajay-simform commented on #1818
@b-onc  query for displaying channel list.

[code]

When isLocalStorageEnabled = false, deleted channel remove from the list when restarting the app.
But it stays there when isLocalStorageEnabled = true

[2022-03-02 07:25] linhewinner commented on #1815
This is a bug I introduced myself in an attempt to mitigate this issue:
https://github.com/GetStream/stream-chat-swift/issues/1805

The out-of-box implementation doesn't have the bug. Sorry about that ...
I'll figure this one out myself

[2022-03-02 07:31] EuyjaeHwang opened #1821 "ChatMessageSearchController's sorting is not working"
## What did you do?
I searched message by using ChatMessageSearchController
[code]

## What did you expect to happen?
I expected the results to be sorted in descending order of created time

## What happened instead?
The results were the same(in ascending order) regardless of the `sort` (`sort: [ .init(key: .id, isAscending: false)]` and `sort: [ .init(key: .id, isAscending: true)]` result was sam

[2022-03-02 07:41] salqueng opened #1822 "Example playground on this repo does not work, due to "unable to find bundle named StreamChat_StreamChat""
## What did you do?
Clone stream-chat-swift and open it on Xcode, then run Stream playground for checking and practicing how to use the sdk.

## What did you expect to happen?
The example playground should work out of the box and not give any error.

## What happened instead?
I got `EXC_BREAKPOINT` on line 17 of `Stream.playground/Contents.swift` on runtime.

`StreamChat/resource_bundle_accessor.s

[2022-03-02 08:11] #1822 closed, assigned to nobody

[2022-03-02 10:37] tbarbugli commented on #1821
@EuyjaeHwang your query is sorting by `id` and not by `created_at`, did you try changing that?

[2022-03-03 00:51] EuyjaeHwang commented on #1821
@tbarbugli `MessageSearchSortingKey` is enum and has only 2 case(id, relevance).
is any other method to apply another sorting key?

[2022-03-03 04:12] salqueng opened #1823 "synchronize of ChannelListController is very slow when a user has joined 20+ channels and each channel has 30+ members."
## What did you do?
Connect and synchronize the joined channel list of a user.
Tested on the playground of this repo.

The user has joined 20+ channels, and each channel has more than 30 members.

<details>
<summary>Playground Code</summary>
<p>

[code]
</p>
</details>

## What did you expect to happen?
Synchronize finishes within 1 ~ 2 seconds so users can feel the app is quite fast.

## What hap

[2022-03-03 10:46] b-onc commented on #1823
Hello @salqueng ,

`Synchronize` completion shouldn't take even a second. Can you test it like this:

[code]
and report the timestamps?

[2022-03-03 13:42] b-onc commented on #1818
Hello @ajay-simform ,

I cannot reproduce this issue with our DemoApp. Whenever a channel is deleted, it's correctly removed from the channel list. Can you provide a sample app where this issue is reproducible?

[2022-03-03 13:45] b-onc commented on #1821
Hello @EuyjaeHwang ,

It's a bug within the SDK, `query.sort` is not being considered when fetching data from DB. We'll roll a fix with the next version.

[2022-03-03 16:08] salqueng commented on #1823
Hmm. It actually takes several seconds for my cases. You can see the test code in "Playground Code" section of first comment.

<img width="861" alt="image" src="https://user-images.githubusercontent.com/5074074/156603862-e4599572-33ce-452a-801d-996ff37c9e68.png">

I can send you the credentials for the above code.

[2022-03-04 05:30] EuyjaeHwang commented on #1806
Hmm... I updated SDK version (4.10.1) but still replyCount is not correct....
`messagesChangesPublisher` published previous replyCount 🤔

[2022-03-04 13:25] b-onc commented on #1823
Hello @salqueng ,

Thank you. Can you send me Stream app id (not API key, you can find your app id via dashboard), user id, and the channel query causing this?

[2022-03-04 13:26] b-onc commented on #1806
Hello @EuyjaeHwang ,

When you test with the delegate funcs (like I've pasted above), do you see the issue happening? I'm trying to understand if the issue is within combine publishers or within the data update mechanism.

[2022-03-04 13:34] salqueng commented on #1823
Thank you @b-onc,
Here is the information.

App Id: `"1126626"`
User Id: `"190176"`
Channel Query: (in swift) `.containMembers(userIds: ["190176"])`

[2022-03-04 16:10] b-onc commented on #1823
Hello @salqueng ,

Thanks for the information. I'm able to replicate, and even pinpoint, the performance bottleneck. We'll prioritize it and hope to achieve 50%+ improvements soon.

However, I can't guarantee a timeline for an improvement so for now I suggest you to decrease channel/message limits for your query to make it faster. Also, make sure your `baseURL` points to `singapore`

[2022-03-07 05:44] linhewinner opened #1827 "ChatChannelVC misses messages if NSE processes a push with ChatRemoteNotificationHandler (with local storage on)"
## What did you do?
The bug:
- Open app. Navigate to a thread view. Background the app.
- Send a message. Receive a push. NSE processes the app with ChatRemoteNotificationHandler.
- Open the app. Notice that the new message never shows up in the thread view. <=== BUG
- go back to thread list view. enter the thread view again. This time you see the new message

Note that two conditions need to be m

[2022-03-07 07:36] EuyjaeHwang opened #1828 "Add parent_id in sendStartTypingEvent()"
## What are you trying to achieve?
In [Typing Indicators](https://getstream.io/chat/docs/ios-swift/typing_indicators/?language=swift) docs says

But I can't find the way how to add `parent_id` in `channelController.sendStartTypingEvent()`.
Also,  I wanna distinguish who is typing in a thread.
However, SDK just returns set of ChatUser without parent message id

## What would be the better way?

jus

[2022-03-07 08:51] adamrushy commented on #1828
Hello, @EuyjaeHwang thanks for the report.

We have this ticket in our backlog of work and will bump the priority to get this included within the iOS SDK. Thanks again, and I will update you as soon as we start working on it.

Thanks,
Adam

[2022-03-07 09:28] tokirin commented on #1806
Hello, I'm team mate with @EuyjaeHwang.
I recorded debugging screen with above bug.
I use 4.10.1 SDK and use delegate as you mentioned.
Please check this [linked video](http://gofile.me/4jHDt/9jEptJIbZ)

Sincerely

[2022-03-07 13:37] b-onc commented on #1806
Hello @tokirin ,

See the screenshot from the video you've sent:
<img width="1272" alt="Screen Shot 2022-03-07 at 14 35 27" src="https://user-images.githubusercontent.com/770464/157044507-d965cd4b-1086-4480-acd6-3036cc4f2f43.png">

replyCount does get updated, but not in the first update. This is expected since multiple updates happen when a reply is sent.

There are 3 updates:
Reply Message is in

[2022-03-07 17:53] glennposadas opened #1830 "AdvancedOptionsViewController in Demo App project isn't functional"
The controller just doesn't work. I'm trying to learn how to use stream chat by using my own keys and tokens so I thought this advanced option is a good thing but isn't completed yet.

<img width="869" alt="Screen Shot 2022-03-08 at 1 52 33 AM" src="https://user-images.githubusercontent.com/12502679/157090001-412eaa85-3847-43da-a264-b85bce493054.png">

Also, I have a side question. The Stream can

[2022-03-07 22:30] nuno-vieira commented on #1827
Hi @linhewinner !

Thank you for all the details on the issue 👍 We will investigate this one and will update you as soon as possible.

Keep in mind, we do not recommend using the local storage enabled in production (hence why it is disabled by default right now). We are almost finishing a major refactoring on the Offline Support, which should come out really soon, and this will change then, it wil

[2022-03-08 01:24] tokirin commented on #1806
@b-onc
You should check all cases in that video.
It sometimes emits correct latest value, in case of that video, just case of 2 and 6 only emits correct value.
I want to receive correct reply count for all cases.

[2022-03-08 01:55] tokirin commented on #1806
I print reply count for all of updates from delegate function using following code.

[code]
and you can check the result in [this video](http://gofile.me/4jHDt/HNQNwyCYM)
This time, It returns wrong values for all of cases 🥲

[2022-03-08 12:07] nuno-vieira commented on #1830
Hi @glennposadas!

Thank you for opening the issue!
We will investigate this as soon as we can and will get back to you 👍

Yes in theory it should. But we don't have many customers with Obj-C projects, so maybe you can find minor problems. But if you do, please open an issue here and we will get that fixed for sure 🙂

Best,
Nuno

[2022-03-08 12:40] glennposadas commented on #1830
Thanks, Nuno!

On Tue, Mar 8, 2022 at 8:07 PM Nuno Vieira ***@***.***> wrote:

[2022-03-09 03:28] gorbat-o opened #1834 "How to custom the font/color of a message in the bubble for `isSentByCurrentUser`"
## What are you trying to achieve?
I want to customize the font/color just for `isSentByCurrentUser` right now this is applied across both bubble message.

<img width="368" alt="image" src="https://user-images.githubusercontent.com/7542553/157366277-8ab6ddb9-29fc-4e78-ad0c-11b6eced5fdc.png">

## If possible, how can you achieve this currently?
I didn't find a way yet, but it seems that it will be

[2022-03-09 06:11] linhewinner opened #1835 "ChannelListVC has stale view upon reconnection because /sync endpoint returns a channel without "reactions" payload"
## What did you do?
If I disconnect the app, send a message and reconnect the app (by using Airplane mode), I noticed that the new message isn't getting picked up by the ChannelListVC.

Most of my clients are working fine, but every once in a while, a client would get into a state where this bug consistently repros.

I managed to chase this down to ConnectionRecoveryUpdater, where the /sync endpoi

[2022-03-09 08:33] polqf commented on #1835
Hi @linhewinner,
Thank you for your report. We've started an internal investigation, and we'll come back to you whenever this is completed 😄

[2022-03-09 12:26] adamrushy commented on #1834
Hello, @gorbat-o

Thanks for raising this issue. I am sorry you're struggling to find the resolution to what you're attempting.

Do take a look [here](https://getstream.io/chat/docs/sdk/ios/uikit/components/custom-components/) it contains documentation about how all our components work and the easiest way to customize all of them.

Anyway, to get you going right away I have provided some sample co

[2022-03-09 12:44] nuno-vieira commented on #1834
Hi @gorbat-o!

This [doc](https://getstream.io/chat/docs/sdk/ios/uikit/components/message/) is also probably a good read to understand on how customizable is our message view 👍

Best,
Nuno

[2022-03-09 16:55] nuno-vieira commented on #1818
Hi @ajay-simform!

Are you sure you are using the 4.10.1 version?
Because this should be fixed in that version. And we can't reproduce this on our DemoApp currently.

Best,
Nuno

[2022-03-09 16:58] adamrushy commented on #1834
Closing this issue for now. Let us know if we can help with anything else @gorbat-o

[2022-03-09 16:58] #1834 closed

[2022-03-09 17:04] gorbat-o commented on #1834
Thank you for that quick answer!
I read the documentations but haven't found any particular way to override `ChatMessageContentView`. But then I indeed realized that it all goes through `Components.default`
Again thank you! 🙏

[2022-03-09 17:42] linhewinner commented on #1835
I also think ConnectionRecoveryUpdater should be more defensive of malformed backend response. Here, in the case of an unknown error, the else branch does not call completion():

https://github.com/GetStream/stream-chat-swift/blob/c18de959292ed01e064640f6a0a085afaf158c96/Sources/StreamChat/Workers/Background/ConnectionRecoveryUpdater.swift#L169

I think we should ideally call completion() in the "

[2022-03-10 08:20] linhewinner opened #1838 "ChatChannelAvatarView is blurry when there are merged photos"
On my iPhone 15, the merged group channel avatar images are super blurry.

This is because the DefaultImageMerger doesn't set scale on its UIGraphicsBeginImageContext call here:
https://github.com/GetStream/stream-chat-swift/blob/c18de959292ed01e064640f6a0a085afaf158c96/Sources/StreamChatUI/Utils/ImageMerger.swift#L53

Specifically in this merging logic here:
https://github.com/GetStream/stream-ch

[2022-03-10 10:39] nuno-vieira commented on #1838
Hi @linhewinner !

Thank you again for the report and your suggestion! We will fix this one ASAP 👍

Best,
Nuno

[2022-03-10 11:55] Alexsilvacodes opened #1840 "StreamChat SDK added using Tuist failing due to `StreamChatModel.xcdatamodeld`"
## What did you do?
Include StreamChat as dependency using [the new Dependencies feature for Tuist](https://docs.tuist.io/manifests/dependencies/)

## What did you expect to happen?
StreamChat SDK to be resolved correctly

## What happened instead?
StreamChat SDK gets resolved as expected (with `tuist fetch`) but it fails when adding it to the project when generating the project.
[code]

## GetStr

[2022-03-10 11:59] nuno-vieira commented on #1840
Hi @Alexsilvacodes!

Are you sure this isn't a problem in Tuist? Is there any known issue on Tuist when using dependencies that have CoreData included?

Since our project works fine with SPM, Cocoapods and Carthage, I would assume this is actually a bug from Tuist. So it is probably worth creating an issue on their repo.

Best,
Nuno

[2022-03-10 12:31] nuno-vieira commented on #1838
Hi @linhewinner!

Thank you again for reporting this issue! It will be available on the next release 👍 We will let you know when that comes out 🙂

Best,
Nuno

[2022-03-10 12:50] Alexsilvacodes commented on #1840
Hey Nuno, definitely they are looking into it, I will close this issue as I already spoke with them.

Thank you for your response  🙏

[2022-03-10 12:50] #1840 closed

[2022-03-10 17:52] linhewinner opened #1842 "ChannelListVC renders duplicate channels for some time"
I have thread A, B, C, D, E, F. ChannelListVC renders something like A B B, D, E, F .... I tap on the second B and navigate back, I see A B C D E F again.

This was a heisenbug for a while, so I didn't bother to report since I suspect nobody will do anything about it :) but yesterday ... I finally got a consistent repro:

1. Have thread in A, B, C, D, E, F state
2. background the app (and WS becom

[2022-03-10 18:04] nuno-vieira commented on #1842
Hello @linhewinner!

Thank you for the report once again!

Since you are showing the Channel List, by threads, do you mean Channels?

Can you reproduce the bug with offline storage disabled? If no, there is a high change the Offline Support re-built will fix it:  https://github.com/GetStream/stream-chat-swift/pull/1831.

The New Offline Support will most likely be merged next week 👍

Best,
Nuno

[2022-03-10 18:08] linhewinner commented on #1842
Ah sorry, yes, when I say "thread" I meant "channel". I used to work at Facebook/Messenger, we only talked about "threads" there lol

Let me try local storage

[2022-03-10 18:16] linhewinner commented on #1842
Just turned off localStorage. The bug repros exactly the same way.

I suspect that this is reproducible with a minimalistic UIVC with 6 rows. If you feed .move(2, 0), update(1), update(3), update(4) and update(5), this will probably repro.
And if you attempt to repro, make sure you use iOS 15 since this is probably iOS version dependent.

When I worked with UIVC in the past, I usually take the "up

[2022-03-10 18:29] nuno-vieira commented on #1842
Hi see, we will then create a ticket internally then to investigate this as soon as we can 👍

Thank you again,
Nuno

[2022-03-10 22:39] DispoKen opened #1843 "Memory Leak in URLSessionWebSocketEnginer"
## What did you do?

Initialize the stream API
## What did you expect to happen?

No memory Leaks
## What happened instead?
Got memory Leaks

## GetStream Environment
**GetStream Chat version: 4.11.0
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** 15.0
**Swift version:** 5.5
**Xcode version:** 13.2.1
**Device:** iphone X

## Additional context
Seems like a possible retain

[2022-03-10 23:12] nuno-vieira commented on #1843
Hi @DispoKen!

These memory leaks come from the Foundation framework. It seems that the WebSocket implementation from Apple does include some memory leaks. This is not related to the StreamChat SDK.

Anyways, thank you for opening the issue!

Best,
nuno

[2022-03-10 23:12] #1843 closed

[2022-03-11 09:28] polqf commented on #1835
@linhewinner We are realising an overhaul around this area pretty soon: https://github.com/GetStream/stream-chat-swift/pull/1831. As you pointed out, the current logic has some deficiencies.

[2022-03-11 10:15] polqf commented on #1806
Hi @tokirin,

What you are describing here seems to be a common misconception around `Publisher`s.
Publisher uses willSet semantics, which means that the notification is fired before the value is actually changed.

You can read more about it in the following links. Those contain further explanations as well as workarounds:
- https://forums.swift.org/t/is-this-a-bug-in-published/31292/24
- https://

[2022-03-11 10:25] polqf commented on #1794
This issue will be fixed once https://github.com/GetStream/stream-chat-swift/pull/1831 is merged.
You can expect this to be included in the following release, most probably.

[2022-03-11 10:26] adamrushy commented on #1782
Closing the issue as looks to be resolved.

[2022-03-11 10:26] #1782 closed

[2022-03-11 16:03] nuno-vieira commented on #1806
@polqf Keep in mind, @tokirin also tried this with the delegate event and the behaviour is the same.

@tokirin We are going to investigate the issue, we already have the feeling that it might be related to not increasing the reply count in the database, and relying only on the Network request to update the reply count.

We will get back to you once we have more news 👍

Best,
Nuno

[2022-03-11 21:43] srgray opened #1845 "Custom Reactions view causes problems with cell layout"
## What did you do?
I tried to replace the existing StreamChatUI Reactions view for a message with my own custom UI. (meant to mimic Slack reaction UI)

## What did you expect to happen?
I expected the message cell to still layout correctly.

## What happened instead?
The layout of the cell (and other cells) is off when displaying my custom Reactions UI view.

## GetStream Environment
**GetStream

[2022-03-14 10:53] ajay-simform commented on #711
@cardoso Found same issue with push notification.
Push notification received only when app is killed. It should receive notification even in foreground or background mode.
@cardoso  I did not find `Notifications` helper class in streamchat repo.
could you please help me out to elevate this issue?

[2022-03-14 13:57] b-onc commented on #711
Hello @ajay-simform ,

Push notifications are not delivered when WS connection is alive, that is, app is active. You need to subclass `EventsController`, observe `MessageNewEvent` and display a local notification yourself.

[2022-03-14 17:58] nuno-vieira commented on #1845
Hi @srgray!

The message view needs a special treatment. If you introduce new views, you need to add a new `ChatMessageLayoutOption`. Because you are removing our own reactions, with your custom one, this is your use case. You can take a look on how to do this by following this section in the documentation: https://getstream.io/chat/docs/sdk/ios/uikit/components/message/#adding-new-views-and-funct

[2022-03-14 20:34] srgray commented on #1845
@nuno-vieira Awesome! Thanks for the link to the docs and especially the change to the sample app!

[2022-03-14 20:34] #1845 closed

[2022-03-15 02:24] tokirin commented on #1806
Thanks to your devotion @nuno-vieira
I expected #1831 to solve this problem.
As it seems to be end game, I merged that branch to 4.11.0 release in our fork repo.
but it doesn't work to this problem 😢

[2022-03-15 03:46] vankien96 opened #1848 "Mention in large group"
## What are you trying to achieve?
I'm trying to build up a mention feature for a large group (> 500 users) and also I only want to do an in-group mention (mentionAllAppUsers = false).
Currently, I see if mentionAllAppUsers = false, it will search user in lastActiveMembers, but in large group it isn't the full list so I can't mention users who aren't on that list.
![image](https://user-images.gith

[2022-03-15 05:37] ajay-simform commented on #711
Thank you @b-onc

[2022-03-15 12:51] polqf commented on #1848
Hi @vankien96,

If I understood you correctly, you want to be able to search users within a channel scope. And you want that search to contain all the members in the channel. Right?
Similar to what we are doing when `mentionAllAppUsers` is true, but capped to a channel id scope.

Please confirm if this is the case first

[2022-03-15 15:11] #1818 closed, assigned to b-onc

[2022-03-15 16:09] #1821 closed

[2022-03-15 22:23] virbedi commented on #1756
Hello, is there any update on this?
As of `4.11.0` I am still facing this issue.

[2022-03-16 01:32] virbedi opened #1853 "Changes to ChatMessageContentView only take place for some messages"
## What did you do?
I have an override of class `ChatMessageContentView` where in the func `createAvatarView()` I add an icon and border to the view if the users account satisfies certain conditions.

## What did you expect to happen?
If conditions were satisfied, the user's `ChatAvatarView` would have a mini icon and border around it for all their messages.

## What happened instead?
The user's A

[2022-03-16 08:50] tokirin opened #1854 "ChannelList Recovery doesn't work properly because It couldn't process query with extra data field in ChannelDTO for local storage(CoreData)"
## What did you do?
We were waiting for merging CIS-1275, and as seen it merged, tested it.
and we found bug for our usecase.

[code]

We use 2 `ChatChannelListController`s with different `ChannelListQuery`.
The two `ChannelListQuery`'s are mutually exclusive as you can see.
and the queries have extra data field named `owner_id` for identifying whether the channel is created by current user or not

[2022-03-16 09:18] tokirin commented on #1806
@nuno-vieira We finally found WHAT CAUSES PROBLEM.

We succeeded to reproduce in StreamChat Sample App.
In our usecase, the all of reply has `quotedMessageId` and set `showReplyInChannel` true.
Without `quotedMessageId`, It works fine. but in opposite case, it happens.
We confirmed the message's `type` is changed to `regular` when `quotedMessageId` is set (originally it is `reply` without `quotedM

[2022-03-16 12:42] polqf commented on #1853
Hi @virbedi,

Could you please share how your code looks inside `createAvatarView`?

[2022-03-16 15:07] nuno-vieira commented on #1756
Hi @virbedi!

We are really sorry! This was a mistake on our side and probably a miss-click on the closing of the issue. This is not yet fixed you are correct 👍 Anyways, this is still being tracked internally so we would not forget about fixing it 🙂

Best,
Nuno

[2022-03-16 15:09] nuno-vieira commented on #1806
Hi @tokirin!

I still can't reproduce this with your scenario. I did find a UI bug, but it is not related to the LLC (StreamChat). If you disable this in our `DemoAppCoordinator.swift` file:
<img width="706" alt="image" src="https://user-images.githubusercontent.com/12814114/158619257-7ec96678-510e-4974-a55e-0d144b002b92.png">

And then run the demo app, this is the result:

https://user-images.gi

[2022-03-16 16:13] tokirin commented on #1854
@polqf I'm sorry for reporting it before release but I have to tell you that It has problem too with just one ChatChannelListController using extra data field in ChannelListQuery.

[2022-03-16 16:22] tokirin commented on #1806
@nuno-vieira when you reply, you have to quote original message for every reply in Sample App

[2022-03-16 16:49] nuno-vieira commented on #1806
Hi @tokirin,

I think I was able to understand what you mean. This is the behaviour, right?

https://user-images.githubusercontent.com/12814114/158643205-b800dc22-673c-4e96-a937-296cbf6cd641.mov

Best,
Nuno

[2022-03-16 18:24] virbedi commented on #1756
Thanks for the quick response @nuno-vieira. I'll keep an eye out for the fix

[2022-03-16 18:48] virbedi commented on #1853
Thanks @nuno-vieira and @polqf, I'll look into the links provided 👍🏽

[2022-03-17 00:12] tomSidebar opened #1856 "enforceUnique param for Reactions is getting ignored"
## What did you do?
We want to enforce unique message reactions in our app, following https://getstream.io/chat/docs/ios-swift/send_reaction/?language=swift.

We created our own ChatMessageReactionsVC class:
[code]

We're using `Components.default.reactionPickerVC = SBChatMessageReactionsVC.self` to instantiate our custom class. We verified via debugging that the custom class is getting called whe

[2022-03-17 08:46] tokirin opened #1857 "public option for choosing WebSocket Engine"
## What are you trying to achieve?
[code]
The Websocket connection recovery is very unstable in our customer's environment.
So we are testing both `URLSessionWebSocketEngine` and `StarscreamWebSocketProvider`
In our reseach, `StarscreamWebSocketProvider` has much better performance and recover better
so we want to choose websocket client for application.

## If possible, how can you achieve this c

[2022-03-17 09:03] ajay-simform opened #1858 "Push Notification sound is not working"
## What did you do?
- configure push notification with APS
- receive notification when other send message to me

## What did you expect to happen?
- Notification should display with sound (on App kill state)
- It should has a value in **sound** key
`<UNNotificationContent: 0x2838d5500; title: New message from ABC, subtitle: (null), body: DEF, summaryArgument: (null), summaryArgumentCount: 0, categ

[2022-03-17 09:16] tokirin commented on #1854
I found another bug while testing 🥲
If I had loaded channel list more than 1 page, but the refetch operation refetches just first page and the rest of channel's messages are all deleted, but are still displayed in channel list with empty messages.

[2022-03-17 10:53] polqf commented on #1838
Hello! We just released 4.12.0, you can check the changelog [here](https://github.com/GetStream/stream-chat-swift/releases/tag/4.12.0).
This issue should be fixed now. Feel free to reopen it if needed

[2022-03-17 10:53] #1838 closed

[2022-03-17 10:54] polqf commented on #1835
Hello! We just released 4.12.0, you can check the changelog [here](https://github.com/GetStream/stream-chat-swift/releases/tag/4.12.0).
This issue should be fixed now. Feel free to reopen it if needed

[2022-03-17 10:54] #1835 closed

[2022-03-17 10:54] polqf commented on #1828
Hello! We just released 4.12.0, you can check the changelog [here](https://github.com/GetStream/stream-chat-swift/releases/tag/4.12.0).
This issue should be fixed now. Feel free to reopen it if needed

[2022-03-17 10:56] polqf commented on #1794
Hello! We just released 4.12.0, you can check the changelog [here](https://github.com/GetStream/stream-chat-swift/releases/tag/4.12.0).
This issue should be fixed now. Feel free to reopen it if needed

[2022-03-17 10:56] #1794 closed

[2022-03-17 10:57] polqf commented on #1443
Hello! We just released 4.12.0, you can check the changelog [here](https://github.com/GetStream/stream-chat-swift/releases/tag/4.12.0).
This issue should be fixed now. Feel free to reopen it if needed

[2022-03-17 10:57] #1443 closed

[2022-03-17 11:02] polqf commented on #1796
Hello! We just released 4.12.0, you can check the changelog [here](https://github.com/GetStream/stream-chat-swift/releases/tag/4.12.0).
This issue should be fixed now. Feel free to reopen it if needed

[2022-03-17 11:47] polqf commented on #1857
Hi @tokirin, please use 4.12.0. We've been working on a completed overhaul around recovery logic, and has just been released. It should fix your issues 😄

[2022-03-17 11:47] #1857 closed

[2022-03-17 11:49] polqf commented on #1854
Hi @tokirin, thank you for all your reports. Let me take a look at them and come back to you 🙏

[2022-03-17 13:22] polqf commented on #1848
This is then going to be a feature request. Will open an internal ticket, and will keep you posted about the progress 😄

[2022-03-17 13:52] polqf commented on #1856
Hi @tomSidebar,
I managed to reproduce this issue, so I went ahead and filled an internal ticket.

We'll try to fix this asap, and will come back to you once fixed.

[2022-03-17 15:28] polqf commented on #1858
Hi @ajay-simform

Please look at our documentation to customize Push Notifications https://getstream.io/chat/docs/sdk/ios/guides/push-notifications/#notification-service-extension. Feel free to reopen this issue if you have more questions

[2022-03-17 15:28] #1858 closed

[2022-03-17 15:32] polqf commented on #1856
After reviewing this with our backend team, we found out that our documentation has a mistake.
`enforce_unique` does not refer to only have one reaction per message per user, but instead to have one reaction per type.
We are working on updating the documentation now.

With our SDK you can "like" a message multiple times if you want, and `enforce_unique` would make sure that only one "like" is set.

[2022-03-17 16:07] polqf commented on #1856
Working on a fix here: https://github.com/GetStream/stream-chat-swift/pull/1861/

[2022-03-17 16:44] polqf commented on #1856
Hi Tom. There's no reason why to think React did the same mistake 😄

[2022-03-17 19:18] linhewinner commented on #1835
@polqf It's not clear to me why the new release would fix this problem.

1. Did you guys find a bug in the backend where /sync endpoint would sometimes return channelConfigs without the "reactions" field? and fix that bug?
2. In the new release, is the client code still calling /sync endpoint? If so, could it still encounter the same decoding error? Is the client decoding path not expecting the ".

[2022-03-17 19:28] polqf commented on #1835
Hi @linhewinner,
The new release should be fixing things from 3 different angles:

1. As you pointed out, we were working on our local persistence layer. You can check #1755, where the work has been done. This should be a major improvement over offline support
2. The issue was reported and tackled by our backend team
3. We also made sure that if there's any individual event that comes wrongly form

[2022-03-17 19:34] linhewinner commented on #1835
Cool! 3 is really reassuring.

I am particularly interested in the second point. What did the backend team fix? Our Sentry log shows this from 10 minutes ago:

[code]

The backend is still returning responses without the required field "config.reactions"

[2022-03-17 19:41] polqf commented on #1835
Thanks for the report. I'll go ahead and pass this information

[2022-03-17 20:05] linhewinner commented on #1804
I was excited to see 4.12.0 released but .... a bit disappointed that this bug wasn't fixed.

This has become our worst and most user-visible bug (since a lot of people use iPhone 13 and all the photos were literally flying randomly on the screen all the time).

Before I sink my teeth into copy-pasting and rewriting ZoomAnimator and ZoomDismissalTransitionController ... I am wondering if this is c

[2022-03-17 21:17] linhewinner commented on #1762
I just upgraded to 4.12.0 and I can still reproduce this bug. See attached screen recording (the first time there is a repro but the second time there isn't). Something I noticed:

1. On 4.10.0, I could reproduce this nearly 100% but with 4.12.0, it's much harder to repro.
2. It seems like the bug only happens when I background and foreground the app (where the WS connection would reconnect and tr

[2022-03-17 21:20] linhewinner commented on #1794
confirmed that this is fixed. thanks!

[2022-03-17 21:20] linhewinner commented on #1838
confirmed this is fixed. thank you guys!

[2022-03-17 22:18] linhewinner commented on #1835
I just read the code. Love the fixes:

1. MissingEventsPayload uses decodeArrayIgnoringFailures so that one bad event won't ruin the entire "events"
2. SyncRepository.syncLocalState's OperationQueue ensures that even if SyncEventsOperation fails, RefetchChannelListQueryOperation would still execute (this wasn't the case in 4.10.0 because a failed /sync call would lead to channelListRefetch not exe

[2022-03-17 22:33] linhewinner opened #1862 "/sync events sometimes return an event missing channel.config.reactions field"
This is from our Sentry error log on our iOS client:

[code]

It is not causing user visible bugs yet ... but this event is getting ignored by the client and I have no idea what it is and what the impact might be.
I want to create an issue to keep track of this. If there is a better backend repo where I should create the issue, plz let me know!

## GetStream Environment
**GetStream Chat version:**

[2022-03-17 23:22] linhewinner commented on #1827
Just tested with 4.12.0 (which has the refactored offline support).

This bug still repros, for the same root cause.

[2022-03-18 12:56] nuno-vieira commented on #1804
Hi @linhewinner!

We do want to refactor the ZoomAnimator and ZoomDismissalTransitionController since they are overly complex at the moment, and we plan to fix this issue, but at the moment this is not our most priority issue so I'm afraid it won't be coming out soon-ish, at least not in the coming weeks.

Do you have a way to measure how is this impacting your customers? Why do you think this is

[2022-03-22 07:46] EuyjaeHwang opened #1863 "ChatChannelMemberListController's isModerator filter works weird"
## What did you do?
I queried channel moderators by using ChatChannelMemberListController.
[code]
## What did you expect to happen?
I expected the result to be only users whose `memberRole` is `moderator`.

## What happened instead?
The result include users whose  `memberRole` is `member`.
It seems users who were moderator in the past(not now) are included.

## GetStream Environment
**GetStream Ch

[2022-03-22 09:55] polqf commented on #1854
Hi @tokirin,

We've identified the issue where some channels were mistakenly appearing in the other channel list and we're actively working on a fix. For now, there's something you can try:

Override ChatChannelListVC's following methods:
[code]

And in those, add checks to ensure the channel that is about to be added/updated contains the expected "owner_id" value.
Bear in mind this check should b

[2022-03-23 05:37] tokirin commented on #1854
Hi @polqf
Thanks for your reply, but we still have problem on that issue.
First of all, We're not using ChatChannelListVC, only ChatChannelListController.
Second, We couldn't use that delegate methods to filter channels because of pagination problem.
If we could, we've already used only 1 ChatChannelListController.
In our usecase, we have to paginate seperately whole channel list which is owned by

[2022-03-23 09:45] adamrushy commented on #1863
Hey, @EuyjaeHwang thanks for reporting this. We'll look into it and get back to you shortly 👍🏼

[2022-03-23 09:50] tbarbugli commented on #1862
This is related to #1835 @polqf good if you have a look

[2022-03-23 10:30] b-onc commented on #1863
Hey @EuyjaeHwang , we were able to reproduce this issue.
The issue happens because when a query is re-fetched, old results are not discarded. Once user U is fetched and linked to the query, it says linked to the query.
A workaround is to add an ineffective filter to your query, so your filter becomes:
[code]
You can safely use this workaround while we resolve the issue.

[2022-03-23 10:33] b-onc commented on #1853
Hello @virbedi ,

Is the issue still ongoing?

[2022-03-23 10:48] b-onc commented on #1756
Internally tracked as CIS-1219

[2022-03-23 19:22] whiplash00 opened #1872 "Message input box does not enlarge if large text is pasted into it (sometimes)"
## What did you do?
pasted a large amount of text into message input box.

## What did you expect to happen?
The text input box should enlarge itself.

## What happened instead?
The text input box stay as one line.

## GetStream Environment
**GetStream Chat version:** = '4.11.0'
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** = 15.3
**Swift version:** = 5.6
**Xcode version

[2022-03-24 17:03] virbedi commented on #1853
@b-onc I decided to add this modification in `updateContent`() and remove it in `prepareForReuse`() instead of overriding the `ChatMessageLayoutOption`.
The issue I was facing was because I was not clearing out the modifications before reuse. Thanks!

[2022-03-24 19:36] virbedi commented on #1853
@b-onc I am running into another issue with overriding `prepareForReuse()` in `ChatMessageContentView`. Is there a reason this function is not marked as `open` like most other functions in the class?

[2022-03-25 17:13] nuno-vieira commented on #1872
Hello @whiplash00!

This is already fixed in develop branch and will be available in the next release! We will update you once the next release is out!

Best,
Nuno

[2022-03-25 17:18] nuno-vieira commented on #1853
Hi @virbedi!

You should follow the `ChatMessageLayoutOption` approach, or you will most likely run into problems like for example the view not being updated properly. Any reason why you don't go this route? Do you need any help with this? We can provide you with an example for your use case.

Best,
Nuno

[2022-03-30 06:08] petyosi commented on #1856
@tomSidebar we are tracking that implementation for the React SDK as well, see linked issue.

[2022-03-30 13:31] nuno-vieira commented on #1856
Hi @tomSidebar!

This is now available on the [4.13.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.13.0) release.

Thank you!

[2022-03-30 13:31] #1856 closed

[2022-03-31 16:54] nuno-vieira commented on #1853
Hi @virbedi!

After doing further analyse, in your case you actually don't need to create a new layout option. Probably the better approach here is to customize the AvatarView. The advantage of this is that if you want to use this badge in other places of the codebase where there is an avatar you can too. Here is an example:

[code]

All our codebase uses this `ChatAvatarView`, directly, or throug

[2022-04-01 14:22] nuno-vieira commented on #1759
Hi, @vladpre92 Are you still able to reproduce this on your iPhone 7, especially with 4.12.0+ above?

I can't manage to reproduce this on any device. The oldest device I have tho is an iPhone XR.  Is there any chance your Device has the storage full?

Best,
Nuno

[2022-04-01 19:04] virbedi commented on #1853
Thanks for the follow up @nuno-vieira! This is more in line with what I was trying to achieve without updating the layout options. I was able to achieve what I was trying by updating the ChatAvatarView class as suggested here.
Appreciate your help on this!
<img src="https://media.giphy.com/media/KB8C86UMgLDThpt4WT/giphy.gif" width="100" />

[2022-04-01 19:44] vladpre92 commented on #1759
Hi @nuno-vieira . No, I can't reproduce it anymore with 4.13.0 on my iPhone 7. I don't think my storage was full when I recorded the above demo video.
Thank you!

[2022-04-03 01:38] #1759 closed

[2022-04-03 01:38] #1853 closed

[2022-04-05 22:25] srgray opened #1902 "Custom subview of ChatMessageContentView doesn't resize properly"
## What did you do?
I added a subview to `ChatMessageContentView` per docs: https://getstream.io/chat/docs/sdk/ios/uikit/components/message/#adding-new-views-and-functionality
I then tried to resize that view, based on its contents.

## What did you expect to happen?
I expected the subview to resize and the message cell to layout correctly.

## What happened instead?
My subview resized correctly b

[2022-04-06 16:27] nuno-vieira commented on #1902
Hi @srgray!

Thank you for opening the issue! We will investigate this and will get back to you as soon as possible 👍

Best,
Nuno

[2022-04-07 14:40] ajay-simform opened #1905 "Audio attachment doesn't display in attachment previews"
## What did you do?
- go to the chat screen
- open Files
- select .mp3 file

## What did you expect to happen?
- selected .mp3 file should display in the attachment preview listing.

## What happened instead?
- It is showing blank attachment

## GetStream Environment
**GetStream Chat version:** 4.13.1
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:** 15.0.2
**Swift version:*

[2022-04-07 16:22] nuno-vieira commented on #1902
Hi @srgray!

Currently, this is not very easy to implement, especially if you want this to be dynamic. We would recommend for now using UIStackViews instead of a CollectionView. We have some customers who implemented slack-like reactions with 2 static stack views. Then if there are more than 2 rows, it will display "+more" just like Slack. I've made an implementation for you that uses dynamic stac

[2022-04-07 17:09] nuno-vieira commented on #1905
Hi @ajay-simform !

This happens because the iOS SDK currently doesn't support audio files, but it should fall back to a normal File for now, so this is indeed a bug. I'll open a quick PR for this one now, and so it will be fixed in the next release (next week).

Thank you for opening the issue!

Best,
Nuno

[2022-04-11 14:17] nuno-vieira commented on #1804
Duplicate of: https://github.com/GetStream/stream-chat-swift/issues/1588

This issue will be available in the next release.

Thank you!
Nuno

[2022-04-12 13:26] davefoxy opened #1920 "Socket Connection Drops Off and Never Reconnects"
## What did you do?

Opening a connection to `ChatClient` using `connectUser` and providing a `tokenProvider`. After a time, I started to get the following in the terminal and a chat is no longer updated:

[code]

## What did you expect to happen?

If this is due to the token expiring, I expected my `tokenProvider` to be called but it doesn't look like it is. The whole "expiring token" thing might

[2022-04-13 07:50] bielikb commented on #1920
Hi @davefoxy,

thanks for the report. We will try to reproduce the issue you're experiencing and will come back with a follow-up.

Best,
Boris

[2022-04-13 10:28] bielikb commented on #1920
Hey, @davefoxy

could you follow this [doc that discusses when & how to pass in the tokens to our client](https://getstream.io/chat/docs/ios-swift/tokens_and_authentication/?language=swift#how-to-refresh-expired-tokens)?
eg:
1. pass in the `tokenProvider` during `ChatClient`'s initialization
2. prepare & pass cached `Token` to `connectUser` API. NOTE: the `tokenProvider` closure passed in the init

[2022-04-13 13:33] davefoxy commented on #1920
Hi @bielikb thanks for your reply 🙇

So the code path should be the same between me giving the token provider through the `tokenProvider` property (as in my code above) and passing it in whilst instantiating `ChatClient`. However, I've tried your suggestion just in case but there's still no change.

The error message is actually coming from here: https://github.com/GetStream/stream-chat-swift/blob

[2022-04-13 14:43] bielikb commented on #1920
When leveraging `tokenProvider` are you able to connect and eg show the list of existing channels in your app? Does it successfully connect? Could you try to reproduce your issue leveraging our [DemoApp](https://github.com/GetStream/stream-chat-swift/blob/285dc05ab2f2887dc57ee311469577e96f663a7f/DemoApp/DemoAppCoordinator.swift#L74) on our main repo?

You can observe `connectionStatus` changes via

[2022-04-13 14:49] davefoxy commented on #1920
Yes, I can retrieve all my channels and navigate to them, send messages etc. It just stops working after my token expiration time (15 minutes). I'll try out the demo app once again and double-check it works ok for me.

However, shouldn't there be _something_ here to handle this error? It's just logging right now: https://github.com/GetStream/stream-chat-swift/blob/develop/Sources/StreamChat/WebSoc

[2022-04-14 11:32] srgray commented on #1902
@nuno-vieira Hi and thank you for the detailed example. Yes, this was very helpful. The `_messageListDiffingEnabled = true` was especially helpful.
Further question for you: my reaction item views will have a variable width. That's why I lean towards the UICollectionView, so that I can have a variable number of items per row, based on their widths. If I take my approach with UICollectionView and a

[2022-04-14 13:34] tbarbugli commented on #1862
this was resolved in 4.13.0

[2022-04-14 13:34] #1862 closed

[2022-04-14 13:45] #1902 closed

[2022-04-14 22:21] tbarbugli commented on #1920
@davefoxy trying to reproduce this on my end but token renewal seems to work fine. Do you mind sharing the latest version of the code that you are using?

To make things a bit simpler to debug, I create token on the app directly and simulate a delay in between.

The following code is **absolutely not suitable for a production app** but it might help you reducing the scope of the problem. The JWT t

[2022-04-15 02:04] davefoxy commented on #1920
@tbarbugli Thanks! That's super-useful for debugging. Let me play with it a little bit and see.
My code hasn't changed since what's in the initial message of this issue but at least this code you've provided will allow me to remove the variable that is our own token fetching code.

I'll get back to you once I experiment a bit more. It's approaching the weekend here so it might be some time before

[2022-04-19 10:31] tbarbugli commented on #1823
@salqueng there is some initial work to improve performance around your use-case, if you have time we'd appreciate if you could give the `perf-coredata` branch a spin and let us know if you see an improvement

[2022-04-20 08:27] tbarbugli commented on #1920
@davefoxy how is it going with this? happy to move this to a quick call if that helps

[2022-04-20 08:57] davefoxy commented on #1920
@tbarbugli Sorry I'm a little late getting back to you on this. After the first message in this thread, I implemented our own token refreshing code but obviously being able to use `tokenProvider` is preferable. I'd like to just check a few other things in our codebase socket-related that _might_ be causing an issue and I'll get back to you a little later this week on it. If I'm still struggling th

[2022-04-20 13:33] salqueng commented on #1823
<details>
<summary>Tested on 4.13.1: Takes 8.292s</summary>
<p>

[code]

</p>
</details>

<details>
<summary>Tested on #1937: Takes 3.502s</summary>
<p>

[code]

</p>
</details>

It's definitely improved! But I didn't check the channels are loaded correctly.

[2022-04-25 07:36] BarragaoA opened #1949 "Crash ChatMessageListView.updateMessages"
Hello, I got the following crash since 4.8.0. I'm now on the last version (4.13.1) and still got it.

## GetStream Environment
**GetStream Chat version: 4.13.1 **
**GetStream Chat frameworks:** StreamChat, StreamChatUI

## Additional context
Sorry I do not know how to reproduce but it seems to happen quite often, 17 users the last 7days

<img width="1063" alt="Capture d’écran 2022-04-25 à 09 26

[2022-04-25 11:04] bielikb commented on #1949
Hi @BarragaoA,

thanks for the crash report!

I'll create an issue internally for this crash. If you have any more context - eg info about the user scenario that invoked this crash, that's always useful as the chances our team will be able to repro & fix the issue your users are experiencing will increase.

One possible solution for your issue could be leveraging our `_messageListDiffingEnabled` f

[2022-04-25 11:56] polqf commented on #1806
Hi @tokirin & @EuyjaeHwang,

We've finally found the root cause of this issue. Our backend team is working on it at the moment and will let you know once fixed.

Thank you for your patience!

[2022-04-26 12:41] bielikb commented on #1588
Hi @vladpre92,

we just released [new version of our SDK 4.14.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.14.0) that contains the fix for your reported issue.

Feel free to grab it at your convenience.

Thanks again for your help! 🙌

Best,
Boris

[2022-04-26 12:41] #1588 closed, assigned to nobody

[2022-04-26 12:43] bielikb commented on #1804
Hi @linhewinner,

we just released [new version of our SDK 4.14.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.14.0) that contains the fix for your reported issue.

Feel free to try it out!

Thanks again for your help! 🙌

Best,
Boris

[2022-04-26 12:43] #1804 closed

[2022-04-26 12:44] bielikb commented on #1905
Hi @ajay-simform,

we just released [new version of our SDK 4.14.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.14.0) that contains the fix for your reported issue.

Feel free to check it out right now!

Thanks again for your help! 🙌

Best,
Boris

[2022-04-26 12:44] #1905 closed

[2022-04-26 12:44] bielikb commented on #1854
Hi @tokirin ,

we just released [new version of our SDK 4.14.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.14.0) that contains the fix for your reported issue.

Feel free to check it out right now!

Thanks again for your help! 🙌

Best,
Boris

[2022-04-26 12:44] #1854 closed

[2022-04-26 20:19] soyeb313 opened #1957 "Chat UI geting red.."
## What did you do?
i  have to installed   Dolby.io’s Client SDK. when open seesion of dolby sdk then Chat UI Avatar view and icon view is display red color.

## What did you expect to happen?
Display prorper Chat window UI

## What happened instead?
i  have to installed   Dolby.io’s Client SDK. when open seesion of dolby sdk then Chat UI Avatar view and icon view is display red color.

## GetStre

[2022-04-27 05:19] EuyjaeHwang commented on #1806
It works fine!
Thanks 👍

[2022-04-27 05:19] #1806 closed

[2022-04-27 07:02] evsaev commented on #1957
Hey, @soyeb313  thanks for reporting this! We'll look into it and get back to you shortly.

[2022-04-27 07:22] evsaev commented on #1957
Hey @soyeb313 👋

Would you provide me with the following inputs:
1. Is it `VoxeetSDK` meant under Dolby's SDK?
2. Would share with me the resolved versions of `StreamChat/StreamChatUI` and Dolby's SDK you are using? (if you're using CocoaPods, you can find them in `Podfile.lock`)
3. Did I get you right that without opening a session everything works fine? Would you share the code snippet where the

[2022-04-27 07:43] soyeb313 commented on #1957
### @evsaev  Thanks for your response.. Below is the answer your question.
1.Is it VoxeetSDK meant under Dolby's SDK?
==> Yes (VoxeetUXKit.shared.initialize())
2.Would share with me the resolved versions of StreamChat/StreamChatUI and Dolby's SDK you are using? (if you're using CocoaPods, you can find them in Podfile.lock)
==> - StreamChat (~> 4.0.0)
       - StreamChatUI (~> 4.0.0)
       - Voxee

[2022-04-27 09:20] tbarbugli commented on #1823
@salqueng thank you for sharing this, would you mind running this a couple times in your shell and attach its output here?

[code]

[2022-04-27 09:23] tbarbugli commented on #1920
@davefoxy how is this going for you? AFAICT implementing your own token refresh + reconnect chat is very tricky. The SDK does some smart things around token expiration such as queuing requests and replay them when a fresh token is available.

How does your implementation look like?

[2022-04-27 12:17] davefoxy commented on #1920
Hi @tbarbugli so the process I have in place is:

1. First I fetch our token, store it in a variable `activeToken` and make the initial `connectUser` call.
2. Create a `EventsController` and listen for its delegate's `didReceiveEvent` method. Note here that I tried to use `ConnectionController` but its delegate methods weren't being fired.
3. When I receive a `ConnectionStatusUpdated` and it's of

[2022-04-27 12:40] nuno-vieira commented on #1796
Hi @linhewinner!

This is now merged into develop. We will let you know when this issue is released 🙂
The ETA for the next release is in 2 weeks.

Best,
Nuno

[2022-04-28 08:23] evsaev commented on #1957
Hey @soyeb313, thanks for the provided info 🙌

I'll look into this as soon as I can and will get back in case of other questions or updates.

Best,
Pavel

[2022-05-02 10:13] salqueng commented on #1823
Takes about 200ms

<details>
  <summary>Result</summary>
<p>

[code]

</p>
</details>

[2022-05-04 19:12] srgray opened #1976 "Crash after switching users"
## What did you do?
Switched users in my chat application

## What did you expect to happen?
Normal operation

## What happened instead?
The app crashed:
`StreamChat/CoreDataLazy.swift:49: Fatal error: Persistent store identifier changed. This means the persistent store was reloaded, but a reference to a model was kept in memory.
This can happen if a snapshot of data (ChatMessage, ChatUser, ChatCh

[2022-05-05 08:58] evsaev commented on #1976
Hey @srgray 👋

Thanks for reaching us!

Would you try to upgrade to [4.14.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.14.0) SDK version and see if it solves the issue?

It contains multiple stability fixes including the PR that's supposed to fix the crash you're facing with:
https://github.com/GetStream/stream-chat-swift/pull/1926

Looking forward to hearing back!

Best,
Pavel

[2022-05-05 11:08] srgray commented on #1976
After upgrading to 4.14.0 SDK, the crash does not occur (👍 ) but I do get this behavior:
- Run sample project
- Login as user1
- Select chat channel to view it
- Send a chat message
- Back actions to initial screen
- Logout
- Login as user2
- Tap to enter chat channel
- Chat channel is not shown and console logs:
```2022-05-05 06:06:05.346 [ERROR] [main] [ChatChannelListVC.swift:357] [getChannel(a

[2022-05-05 12:05] ajay-simform opened #1977 "Can't get correct channelList when user switch"
## What did you do?
- switching multiple users.

## What did you expect to happen?
- channel list should display correctly.

## What happened instead?
- It is not displaying the correct channel list.
- In case if it displayed a channel list, its sorting is not correct.
- sometimes channel List becomes totally empty.

## GetStream Environment
**GetStream Chat version:** 4.14.0
**GetStream Chat fram

[2022-05-05 15:18] evsaev commented on #1977
Hey there @ajay-simform 👋

The thing, when the chat client is connected with another user, the `ChatChannelListVC` should be recreated in case the underlying channel query involves a condition with `currentUserId`.

In `DemoApp`, the query matches channels where the current user is a member so we can't keep using the same screen after switching a user without resetting the `ChatChannelListVC.contr

[2022-05-05 15:37] evsaev commented on #1976
Hey @srgray 👋

When the chat client is connected with another user, the `ChatChannelListVC` should be recreated in case the underlying channel query involves a condition with `currentUserId`. Otherwise, the list will be showing channels for the previous user.

Would you try to recreate the channel list VC and check that the error is gone?

Thanks!

Best,
Pavel

[2022-05-05 17:41] srgray commented on #1976
@evsaev OK, yes, when I recreate the channel list VC, that error is now gone. Thanks for you help on this!

[2022-05-05 18:07] nuno-vieira commented on #1710
Hi @vladpre92!

Thank you for your patience on this one! This fix will be part of the next release 👍

We will close the issue once the next release is published.

Best,
Nuno

[2022-05-05 18:07] nuno-vieira commented on #1756
Hi @virbedi!

Thank you for your patience on this one! This fix will be part of the next release 👍

We will close the issue once the next release is published.

Best,
Nuno

[2022-05-05 18:08] virbedi commented on #1756
@nuno-vieira Thanks for the update, looking forward to the next release 🚀

[2022-05-06 05:09] ajay-simform commented on #1977
Hi @evsaev
Thanks for the update!
I hope this issue will resolve ASAP. This is a major blocker for us. 🤞

[2022-05-06 09:10] evsaev commented on #1977
Hey @ajay-simform 👋

We've got an [issue](https://github.com/GetStream/stream-chat-swift/issues/1976#issuecomment-1118713102 ) yesterday similar to yours.

The suggested solution was to recreate `ChatChannelListVC` when the user is switched.

Would you try that and see if that resolves the issue?

Best,
Pavel

[2022-05-10 07:55] evsaev commented on #1957
Hey @soyeb313,

Writing to give you an update that we're investigating the issue and will keep you posted with the progress.

Thanks!

Best,
Pavel

[2022-05-11 12:37] adamrushy commented on #1957
Hey, @soyeb313

I believe we fixed this exact problem late last year. It was regarding using unique bundle identifiers otherwise it would fail to load the assets. You can read more information [here](https://github.com/GetStream/stream-chat-swift/issues/1566)

It was released within version [4.4.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.4.0)

I would recommend updating to th

[2022-05-12 06:46] mdhanif-simformsolutions opened #1995 "Can't Ban/Unban user from channel"
## What did you do?
- upgrade to permission V2
- gave user banned permission to the `User` and `ChannelMember`.
- create a channel
- Add multiple members with a channel creator
- Block/unblock channel members with a channel creator from the FE side

`let controller = ChatClient.shared.memberController(userId: user.id, in: channelId)
`
`
controller.ban { error in
print(error)
}
`

## What did you e

[2022-05-12 10:20] adamrushy commented on #1957
Closing this issue on the above solution. Let me know if you need any more support @soyeb313 :]

[2022-05-12 10:20] #1957 closed

[2022-05-13 06:45] mdhanif-simformsolutions commented on #1995
sure. Here's the configuration which I have set for adding permissions.
Channel Member :-
<img width="709" alt="MicrosoftTeams-image (4)" src="https://user-images.githubusercontent.com/63775307/168226267-5db6703f-39e4-4f9a-8d60-3e2e77c3541d.png">
User :-
<img width="708" alt="MicrosoftTeams-image (3)" src="https://user-images.githubusercontent.com/63775307/168226253-c16fd709-0096-41ea-be6a-46582af

[2022-05-13 09:29] nuno-vieira commented on #1977
Hi @ajay-simform!

You should re-create the `ChatChannelListVC` instead of reusing the same instance of the channel list view:
[code]
Feel free to re-open the issue if you have any issues.

Best,
Nuno

[2022-05-13 09:29] #1977 closed

[2022-05-13 09:42] mdhanif-simformsolutions commented on #1995
Thank you for update @adamrushy.
I don't see anywhere where I can use "BanChannelMember". You can check the permission list I have posted above in screenshots.
Just FYI I am using Version2 of Permissions.

[2022-05-13 09:49] adamrushy commented on #1995
Thank you, @mdhanif-simformsolutions

We can actually push this fix sooner, can you share the app ID you're using, please?

[2022-05-13 14:33] adamrushy commented on #1949
Hey, @BarragaoA just checking if you had any updates on the diffable feature and if this worked for you?

[2022-05-16 07:44] BarragaoA commented on #1949
Hello,

I did not enable it yet since you warn us about the fact that it is an experimental feature.
But I got more and more crash so I'm going to update the sdk to 4.14.0 and enable it

[2022-05-16 08:36] adamrushy commented on #1995
@mdhanif-simformsolutions just checking in on my previous message :]

[2022-05-16 08:37] adamrushy commented on #1949
Hey, @BarragaoA yes please do - although experimental we're seeing really positive results :]

[2022-05-16 08:46] mdhanif-simformsolutions commented on #1995
Hey @adamrushy I am not sure If I it would be safe to should share my app ID here. Is there any other fix/way we can look for ?

[2022-05-16 08:48] adamrushy commented on #1995
@mdhanif-simformsolutions can you email me directly at adam.rush@getstream.io :]

[2022-05-16 13:29] adamrushy commented on #1995
Hey, @mdhanif-simformsolutions we have pushed the fix live just now - please can you check 👍🏼

[2022-05-17 13:59] evsaev commented on #1796
Hi @linhewinner,

I'm happy to say that [4.15.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.15.0) containing the requested change is released 🎉
Here is the [guide](https://getstream.io/chat/docs/sdk/ios/uikit/views/reactions/#custom-reactions-sorting) explaining how to provide custom sorting for reactions.
Thanks and enjoy your day!

Best,
Pavel

[2022-05-17 13:59] #1796 closed

[2022-05-17 14:03] #1756 closed

[2022-05-17 14:45] evsaev commented on #1710
Hi @vladpre92,

I'm happy to say that [4.15.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.15.0) containing the fix for the reported issue is released 🎉

I'm closing the issue but feel free to reopen if you still face it 🙂

Thanks and enjoy your day!

Best,
Pavel

[2022-05-17 14:45] #1710 closed

[2022-05-18 07:13] teamsupermomos opened #2013 "Global chat search"
Most chat app has a global chat search (one at the top of chat channel directory) where you can search for particular keyword and the search result shows you all of its occurrence in all chat channels. You can also click it to quickly be redirected to that particular message.

Streamchat is a great product for both developers and end users but I think this is one of the most useful "basic" feature

[2022-05-18 10:10] BarragaoA commented on #1949
Hello,
I just send a production app with the version 4.14.0 and messageListDiffingEnabled = true.
I'll keep you informed 🙂

[2022-05-18 10:22] nuno-vieira commented on #1949
Hi @BarragaoA!

We already have other customers successfully using this and it is a very safe approach right now. Probably next release we will also switch this flag to true by default 🙂

Please, feel free to re-open the issue if you find any problems.

Best,
Nuno

[2022-05-18 10:22] #1949 closed

[2022-05-18 10:28] nuno-vieira commented on #2013
Hi @teamsupermomos!

This is something that is missing on the iOS UIKit SDK and we are going to work on it very soon actually. Right now is one of the most priority features we have coming in the next sprint.

The search endpoint is already available in the Low-Level Client as well in case you would want to implement the UI yourself. But we understand it is not a simple task.

Once we have this fe

[2022-05-18 10:28] #2013 closed

[2022-05-20 10:35] AnatolyRugalev commented on #1995
Hey @mdhanif-simformsolutions,

Previously we assumed location of your app and there's a chance that this assumption was incorrect. My apologies for this.

Most probably the patch did not arrive yet to the part of our infrastructure where you application is hosted. We can speed things up for you if you can send us your application id. As far as I know Adam haven't got it. Having your app id will a

[2022-05-20 10:39] davefoxy commented on #1920
@tbarbugli Any progress on the above message and refreshing tokens within `URLSessionWebSocketEngine`?

[2022-05-24 06:57] Subtextaps opened #2020 "makeLoadingView not called"
## What did you do?
Updated the package dependency to StreamChatSwiftUI 4.15.0

## What did you expect to happen?
The method to be called as it was before updating the SDK

## What happened instead?
Nothing. The method is implemented in a ViewFactory instance and was called correctly under the previous package

## GetStream Environment
**GetStream Chat version: 4.15.0
**GetStream Chat frameworks:

[2022-05-24 07:11] polqf commented on #2020
@Subtextaps please move this issue to the correct repo: https://github.com/GetStream/stream-chat-swiftui

[2022-05-24 07:12] #2020 closed

[2022-05-24 07:17] Subtextaps commented on #2020
Will do – thanks!

[2022-05-24 10:05] pelczark opened #2021 "Offline mode resets channels list"
## What did you do?
In my app user has over 100 channels with a single user. I'm using the default UI from StreamChatUI.
Channels list is paginated. I scroll down to the bottom to see f.e. 80th channel.
I encountered two issues:
1. When the internet connection is lost and then is reconnected again, then I try to load more pages, the channel list scrolls up, and I see only the first channels page (

[2022-05-24 12:01] adamrushy commented on #1995
Hey, @mdhanif-simformsolutions just checking if you saw our previous messages?

[2022-05-25 07:35] polqf commented on #1823
Hi @salqueng,

We have been (and we still are) working on a series of improvements to reduce the times when saving big chunks of data to the database. We've recently merged a PR that is giving a 50% improvement in our tests. You can check the CHANGELOG here: https://github.com/GetStream/stream-chat-swift/blob/develop/CHANGELOG.md

We'll keep you posted. Thank you!

[2022-05-25 07:38] polqf commented on #1920
Hi @davefoxy,
Sorry to keep you waiting. We're working on a fix for this but cannot give you an ETA yet.

We'll keep you posted. Thank you!

[2022-05-25 07:42] polqf commented on #2021
HI @pelczark,

Thank you for opening this ticket.

The first issue is known, and it is currently not a priority. We'll let you know when this changes.

The second one is unknown, and should not happen. Let me come back to you after I investigate it. Is there any particular thing you are doing to reproduce it?

[2022-05-25 15:46] polqf commented on #1920
Hi @davefoxy ,

First things first. [The line in URLSessionWebSocketEngine](https://github.com/GetStream/stream-chat-swift/blob/develop/Sources/StreamChat/WebSocketClient/Engine/URLSessionWebSocketEngine.swift#L85) that you pointed out should have nothing to do with this issue.

An error coming from the websockets comes with so little information that those issues are actioned through messages ins

[2022-05-26 08:05] adamrushy commented on #1816
Hey, @linhewinner

I tried reproducing this recently on the latest version of the SDK and on iOS 15.4 on both light/dark modes and is working as expected. Are you still able to reproduce this on the latest version? If so, can you provide any further details of your integration? Any custom UI etc...?

Thank you,
Adam

[2022-05-26 13:59] davefoxy opened #2025 "MemberPayload Parsing Deprecated Roles"
## What did you do?

I'm trying to use the `channel_role` property on a member but it is not parsed in the application. Instead, `MemberPayload` [is parsing the `role` property](https://github.com/GetStream/stream-chat-swift/blob/develop/Sources/StreamChat/APIClient/Endpoints/Payloads/MemberPayload.swift#L32).

According to the REST docs, this property is deprecated and the backend docs ask to use

[2022-05-26 15:23] davefoxy commented on #1920
@polqf Thanks for the update. So yes, when the socket connection disconnects, I am falling into the `disconnected` state as you mentioned above. However, the refresh never happens because `error.isInvalidTokenError` is `false` (Ref: https://github.com/GetStream/stream-chat-swift/blob/develop/Sources/StreamChat/ChatClient.swift#L642)

Here is the result when I `po source.serverError`:

[code]

[2022-05-26 16:39] adamrushy commented on #2025
Hey, @davefoxy

Thank you so much for bringing this to our attention, luckily I have this prepared in our backlog of work and I will keep you updated on the progress of this :]

Thanks again,
Adam

[2022-05-26 17:25] davefoxy commented on #2025
Thanks @adamrushy
Can you give me an ETA for the fix please? It's kind of a high priority item for a release next week 🙏

[2022-05-27 09:04] polqf commented on #1920
Hi @davefoxy ! This looks interesting 🤔

`underlyingError` should be castable to ErrorPayload. If that does not happen, that's why `isInvalidTokenError` is false.

One thing that is important here is that you don't follow the trace starting from the error on the Websocket client, but instead start following from the last successful message you receive, which should have a format like this:
[code]

[2022-05-27 09:07] davefoxy commented on #1920
@polqf Please give me file and line numbers where you'd like me to breakpoint on and trace from. Just to make sure I'm properly aiming in the direction you need.

[2022-05-27 10:49] adamrushy commented on #2025
Hey, @davefoxy

I have created the PR and linked it to the issue. In the meantime, feel free to test using this branch :]

We'll look to get this through testing and ready for release.

Thanks,
Adam

[2022-05-27 10:50] adamrushy commented on #1750
Hey, @Mohammed-Shafeer

I have linked the PR for this work and I want to thank you for your patience.

Thank you,
Adam

[2022-05-27 11:48] polqf commented on #1920
Here: https://github.com/GetStream/stream-chat-swift/blob/develop/Sources/StreamChat/WebSocketClient/Engine/URLSessionWebSocketEngine.swift#L79

Just as soon as you receive the payload I shared above, please check where the trace leads you.

[2022-05-27 15:18] hugobernalstream commented on #2021
Hi @pelczark,

After a first investigation of 2. with the details you provided, I wasn't able to reproduce the issue you mention. I was able to properly resend the message after turning airplane mode off, regaining connection and long-pressing the failed message to resend it.

Is it possible for you to send a video reproducing the issue?
Have you tried to reproduce the issue in our DemoApp?
Is the

[2022-05-30 07:45] pelczark commented on #2021
Hi. I retested `2` using the newest library and it is working. Apologies, It didn't work in the older version.

[2022-05-30 08:39] polqf commented on #2021
That's great to hear! We'll keep you posted on `1` as it is not in our roadmap now

[2022-05-30 12:29] #1750 closed

[2022-05-30 12:29] #2025 closed

[2022-06-01 08:56] ajay-simform opened #2039 "Hide channel with clearHistory doesn't show when new message receive"
## What did you do?
- login with users x and y on a different device
- x sends a direct message to y
- x will hide the channel with clearing history `channelController.hideChannel(clearHistory: true, completion: nil)`
- y will hide the channel with clearing history `channelController.hideChannel(clearHistory: true, completion: nil)`
- x and y close the app
- x and y re-open the app
- x send a dire

[2022-06-02 06:23] ajay-simform opened #2046 "App freeze when switch accounts"
## What did you do?
- Switch login users by disconnect previous user with `ChatClient.shared.connectionController().disconnect()` and connect new user with `ChatClient.shared.connectUser(userInfo: userInfo, token: accessToken)`
- On switch users re-create ChatChannelListVC to solve the **wrong channel list issue**. (Issue link: https://github.com/GetStream/stream-chat-swift/issues/1977)
- Now corr

[2022-06-02 07:56] polqf commented on #2046
Hi @ajay-simform,

Can you post a snippet of your code? You are not supposed to recreate the controller until the `connectUser` call reaches completion.

[code]

This is what I've been testing, and it works for me

Let me know if this helps.

[2022-06-02 11:09] nuno-vieira commented on #1842
Hi @linhewinner!

While I was starting to work on this issue I couldn't reproduce it anymore in the latest release 4.15.0. After checking out the 4.10.0 tag, I could consistently reproduce it, but not with 4.15.0 🙂

Please update to the latest version when possible to get this issue fixed 👍

Best Regards,
Nuno

[2022-06-02 11:09] #1842 closed

[2022-06-02 23:05] nuno-vieira commented on #1762
Hi @vladpre92!

Thank you for your patience in waiting for this issue to get solved!

The fix will be finally available in the next release 🎉

We will close it once the release is published 👍

Best,
Nuno

[2022-06-03 08:48] #2046 closed

[2022-06-03 13:29] jitendra-simform opened #2054 "Unpin All message"
## What are you trying to achieve?
Please suggest how we can do Unpin all pinned messages

Thanks

[2022-06-03 13:36] jitendra-simform opened #2055 "Pin Message "Only For me" And "Pin and notify other""
## What are you trying to achieve?
Please suggest how we can achieve Pin "Only For me" And "Pin and notify other" feature

Thanks

[2022-06-03 14:37] b-onc commented on #2039
Hey @ajay-simform

We were able to pinpoint and resolve the issue. The PR is linked to this ticket. It'd be awesome if you can test the PR & tell us if the issue is resolved!

[2022-06-03 15:28] polqf commented on #2055
Hi @jitendra-simform,

I am sorry but this is not possible with Stream. Whenever you pin a message, you are pinning it to a channel, not for a user only.
If you were to need this, you would need to use your own backend to achieve it.

[2022-06-03 15:28] #2055 closed

[2022-06-03 15:34] polqf commented on #2054
Hi @jitendra-simform ,

At the moment we don't provide a way to unpin all messages from a channel.
You can access ChatChannel's `pinnedMessages` to get all the pinned messages.
Then, you can create a `MessageController` for each of them, and call `unpin(completion:)`

[2022-06-06 05:31] jitendra-simform commented on #2055
Thanks @polqf for quick response and support

[2022-06-06 11:45] davefoxy opened #2061 "Question: Filtering Channel Messages"
## What are you trying to achieve?

I'm trying to filter a channel's message list to show only messages from a given user. Is this possible? I don't see anything in the docs but I do see something that seems relevant...

I see the following API when creating a channel controller: https://github.com/GetStream/stream-chat-swift/blob/develop/Sources/StreamChat/Controllers/ChannelController/ChannelCon

[2022-06-07 08:29] b-onc commented on #2061
Hey @davefoxy

`ChannelController` accepts `ChannelListQuery` for creation since Channels can be included in Channel Lists. If you pass ChannelListQuery `Q` when creating ChannelController `CC` which observes channel `C`, `C` will be included in `Q`

Regarding your filtering question, let me investigate and get back to you.

[2022-06-07 11:08] adamrushy commented on #1995
Hey, @mdhanif-simformsolutions this has now been fully rolled out. Let me know if you have any further questions and thanks for reporting this to us :]

[2022-06-07 19:09] nicol3a opened #2071 "The package product 'Nuke' requires minimum platform version 12.0, but StreamChatUI supports 11.0"
## What did you do?
We reset package caches in our Xcode project.

## What did you expect to happen?
Be able to compile our project with StreamChat as a SPM dependency.

## What happened instead?
We cannot compile anymore. We get the following error message:
`The package product 'Nuke' requires minimum platform version 12.0 for the iOS platform, but this target supports 11.0`

## GetStream Environ

[2022-06-08 07:25] jaspalDevronins opened #2072 "how to create channel with single user not group.it will show last seen message on header."
## What are you trying to achieve?

## If possible, how can you achieve this currently?

## What would be the better way?

## GetStream Environment
**GetStream Chat version:**
**GetStream Chat frameworks:** StreamChat, StreamChatUI
**iOS version:**
**Swift version:**
**Xcode version:**
**Device:**

## Additional context

[2022-06-08 07:47] davefoxy commented on #2025
@adamrushy Just a note that I think you missed another key: https://github.com/GetStream/stream-chat-swift/pull/2028#issuecomment-1149215004

[2022-06-08 08:37] adamrushy commented on #2072
Hey, @jaspalDevronins I would highly recommend checking out our guides [here](https://getstream.io/chat/docs/sdk/ios/uikit/components/channel-list/#channel-header) which cover many aspects of our SDK in terms of overriding the UI, this guide specifically covers the Header. In regards to "last seen message" would you be able to clarify what you're trying to achieve here I assume if you're in the ch

[2022-06-08 12:39] b-onc commented on #2071
Hello @nicol3a ,

Thanks for the report. We'll investigate and get back to you.

[2022-06-08 12:40] b-onc commented on #2072
Hello @jaspalDevronins ,

The question is not clear enough. Can you please fill out the issue template?

[2022-06-08 14:15] jitendra-simform commented on #2054
No @polqf , as of now
Thanks

[2022-06-08 14:15] #2054 closed

[2022-06-08 15:18] b-onc commented on #2071
Hey @nicol3a ,

As of 4.6.0, dependencies are no longer exposed, they're embedded in the SDK. This will allow you to use whatever Nuke version you choose, without it having an effect on our SDK. This issue is not present in versions >4.6.0

Do you need more help regarding this?

[2022-06-08 15:23] nicol3a commented on #2071
Ok cool, I'll upgrade the SDK version. Thanks!

[2022-06-09 00:26] mohdabdurraafay opened #2077 "Xcode 14 Beta 1 - Stored properties cannot be marked potentially unavailable with '@available'"
## What did you do?

Trying to build our project with the latest StreamChat SDK 4.15.1.

## What did you expect to happen?

I expect the build to succeed.

## What happened instead?

Failing with error `Stored properties cannot be marked potentially unavailable with '@available'`.

## GetStream Environment
**GetStream Chat version: 4.15.1
**GetStream Chat frameworks: StreamChat, StreamChatUI
**iOS

[2022-06-09 11:00] bielikb commented on #2077
Hi @mohdabdurraafay,

We exposed experimental branch `xcode14` that branches off from the latest `v4.15.1` to unblock you on your endeavours with Xcode 14.0 beta 1.

Please note the following remarks:

* The experimental branch `xcode14` was not QAd by our team and is currently treated as experimental. We will keep this branch in sync with our latest releases up until the September / major release

[2022-06-09 12:18] b-onc commented on #2061
Hey @davefoxy , sorry for delayed response.

I've looked into this and while it's logged as an improvement in our SDK (#1372), no work has been planned towards it, sadly. If you'd like to filter messages, you'd have to implement your own UI components, the built-in ones don't have support and doesn't seem like they will soon.

Is there anything else I can help you with?

[2022-06-09 12:23] davefoxy commented on #2061
Thanks @b-onc
I don't mind implementing our own UI component for this but are you saying that that's _currently_ possible? I don't see anything in the Stream SDK (not the UI one) such as the channel controller that allows fetching channel messages with queries applied to them.

[2022-06-09 13:12] b-onc commented on #1863
Hey there,

We're tracking this issue internally as CIS-1693 so I'm closing this ticket now. Please let us know if further help is needed regarding this!

[2022-06-10 02:06] kean commented on #2071
That's a great solution for a vendor SDK 👍

Do you have any plans to increase the minimum deployment target of the SDK? I was planning to increase the minimum deployment target to iOS 13 and the minimum required Xcode version to 13.2 in the upcoming major release, [Nuke 11](https://github.com/kean/Nuke/pull/547). But there isn't much effort to keep the compatibility with the lower versions, so I'm

[2022-06-10 02:30] kean commented on #2071
I reverted changes to the deployment target introduces in the point release in [10.11.2](https://github.com/kean/Nuke/releases/tag/10.11.2).

[2022-06-10 11:41] evsaev commented on #1762
Hi @vladpre92 👋

I'm happy to say that we've released [4.16.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.16.0) fixing the reported issue 🎉

[Here is the PR](https://github.com/GetStream/stream-chat-swift/pull/2050) if you're interested what was the root cause.

Best,
Pavel

[2022-06-10 11:41] #1762 closed

[2022-06-10 11:47] evsaev commented on #1823
Hi @salqueng 👋

I'm happy to say that we've released [4.16.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.16.0) that contains the performance improvement we mentioned earlier :tada:

I'm gonna close the issue but feel free to reopen in case you face the performance drop in this area again.

Thank you for your patience!

Best,
Pavel

[2022-06-10 11:47] #1823 closed

[2022-06-10 15:08] b-onc commented on #1827
Internally tracked at CIS-1634

@linhewinner I've implemented the fix, PR will come next week

[2022-06-13 10:21] b-onc commented on #2061
Hey @davefoxy

Is there anything I can help you with?

[2022-06-14 07:55] davefoxy commented on #2061
@b-onc Thanks, I think we can close this now. I'm not quite sure which solution we'll go with but thanks for your suggestions and background into how things are working 🙇

[2022-06-14 07:55] #2061 closed

[2022-06-14 11:17] jitendra-simform opened #2086 "Pinned messages not cleared when we Hide channel with clear History"
## What did you do?
Hide channel from channel list

## What did you expect to happen?
When we hide channel with clear History option,  it is also suppose to clear pinned messages associate with that channel

## What happened instead?
Channel is hidden but pinned messages still associate with that channel

## GetStream Environment
**GetStream Chat version:**
**GetStream Chat frameworks:** StreamCha

[2022-06-14 12:43] martindaum opened #2087 "Initials Placeholder for ChatAvatarView"
## What are you trying to achieve?
If there is no image set for an Avatar, I would like to show a placeholder with the initials of the user instead of an avatar placeholder.

## If possible, how can you achieve this currently?
I guess I could create a custom view for it and use a custom MessageContentView to inject it

## What would be the better way?
The Android SDK falls back to the initials vie

[2022-06-14 14:25] b-onc commented on #2086
Hello @jitendra-simform ,

I confirm this bug is reproducible in the latest version (4.16.0)

However, it's not reproducible in the latest develop, which means this bug is resolved with #2056 , so it's currently in develop and will be released in the next version.

[2022-06-14 14:38] b-onc commented on #2087
Hello @martindaum ,

The "initials as channel avatar" behavior is outdated, our current Design Kit has "merged avatars" as default. You can see it in Swift SDK and React SDK (https://getstream.io/chat/demos/messaging/)

If you want to implement this behavior yourself, you can do so as:
[code]
and inject your new class via `Components`

Do you need more help regarding this?

[2022-06-14 14:49] b-onc commented on #2087
Ah, thanks for clarifying, I misunderstood.

Indeed it's a missing feature from Swift SDK. We're internally tracking this as CIS-1978.

Meanwhile, you can apply the same logic from my message above, customize `MessageContentView.updateContent` func to create your initials avatar if the user's avatar is `nil` and assign it to `authorAvatarView`

[2022-06-14 16:13] martindaum opened #2089 "Read/Unread State is not working when chat is embedded in TabBar"
## What did you do?
I added the Chat as documented in our app within a TabBar. I noticed that whenever the ViewController was loaded once, the unread-states did not work as expected.

## What did you expect to happen?
The ChatChannelVC should not mark messages as read when a viewDidDisappear has happened.

## What happened instead?
The ChatChannelVC marks all messages as read, even if the tab is n

[2022-06-15 05:45] martindaum commented on #2087
`public private(set) var authorAvatarView: ChatAvatarView?`

I am not able to set the authorAvatarView because the setter is private. In the samples I have seen you can assign a custom ChatAvatarView to components, but then I am not able to retrieve the name. I am missing something?

[2022-06-15 14:29] michallaskowski opened #2091 "Crash on direct chat, force unwrap on channelController.cid!"
## What did you do?
Tried to open a direct chat with a user.

## What did you expect to happen?
Chat to be opened.

## What happened instead?
App crashes on `messageComposerVC.channelController = client.channelController(for: channelController.cid!)`
Line 75, ChatChannelVC.swift
`channelController.cid` is nil, and force unwrap crashes the app.

## GetStream Environment
**GetStream Chat version:**

[2022-06-15 14:45] b-onc commented on #2091
Hello @michallaskowski ,
Can you share the full code?

[2022-06-15 15:29] b-onc commented on #2087
You wouldn't assign `authorAvatarView`, you'd assign an image to `authorAvatarView.imageView.image`

[2022-06-16 10:42] vadimue opened #2092 "Two separate ChatChannelListController mix results of each other"
## What did you do?
I've created two separate ChatChannelListVC with different queries and filters

## What did you expect to happen?
I expect a different set of channels independent of each other.

## What happened instead?

1. Open First ChatChannelListVC
2. First ChatChannelListVC has received a proper list of channels
3. Open second ChatChannelListVC
4. Second ChatChannelListVC has received a

[2022-06-16 12:25] b-onc commented on #2092
Hello @vadimue ,

When you create a `ChannelListController`, like so:
[code]
you need to pass `filter` block to it. So the code becomes:
[code]

The client needs to be able to differentiate between channels inserted to Database, so you need to duplicate the filtering logic.

Please let me know if you have further questions!

[2022-06-16 13:11] jitendra-simform opened #2094 "Message List Scroll Issue"
## What did you do?
Send message to other user

## What did you expect to happen?
Receiver user message list screen should not jump or auto scroll

## What happened instead?
Receiver user message list screen jump and auto scroll

## GetStream Environment
GetStream Chat version: 4.15
GetStream
iOS version: 15.2
Swift version: 5
Xcode version: 13.2
Device: Simulator

https://user-images.githubuserco

[2022-06-16 13:30] b-onc commented on #2094
Hello @jitendra-simform ,

This is known and internally tracked as CIS-1347.

[2022-06-16 13:33] b-onc commented on #1816
Issue closed due to inactivity. Please reopen if you can still reproduce!

[2022-06-17 07:15] vadimue commented on #2092
Thanks a lot for a quick response @b-onc! It was really unobvious to me and my team. The issue is resolved.

[2022-06-17 07:15] #2092 closed

[2022-06-17 11:33] jitendra-simform opened #2098 "Messages are disappeared after pin/unpin message"
## What did you do?
Pin/Unpin message

## What did you expect to happen?
Message should be mark as pin

## What happened instead?
Pinned messages are disappeared from message list

## GetStream Environment
GetStream Chat version: 4.15
GetStream
iOS version: 15.2
Swift version: 5
Xcode version: 13.2
Device: Simulator

https://user-images.githubusercontent.com/97155807/174289797-f091c8cc-a533-40e6-b

[2022-06-17 11:56] b-onc commented on #2098
Hello @jitendra-simform ,

Can you explain the question a bit more? I've watched the video and I don't see the messages disappearing from the message list?

[2022-06-17 12:35] jitendra-simform commented on #2098
Sure @b-onc  ,
I have sent message 1 to 10 and mark them as pin , one by one as you can see in video ,
then sent message 11 to 17 and mark them as pin
then click back button

Please check video duration at 0.11 and 1.40

thanks
![Screenshot 2022-06-17 at 5 59 07 PM](https://user-images.githubusercontent.com/97155807/174298862-b42041e1-0c5f-456e-b147-7f5f3735d678.png)
![Screenshot 2022-06-17 at 6 0

[2022-06-17 13:52] b-onc commented on #2098
Hello @jitendra-simform ,

Now I've seen the issue in the video, thank you.

I cannot reproduce this issue locally. Can you try the latest develop and let me know?

[2022-06-17 14:54] b-onc commented on #2071
@kean , sorry for late response! Must've missed your messages.

Thanks a lot for reverting the change.

We don't have plans to bump minimum version soon.

[2022-06-18 08:48] vadimue opened #2104 "Is it possible to search for messages by ids and get results in the same order as input array?"
## What did you do?
Fetching messages with `ChatMessageSearchController` and providing message ids array as an input argument of `MessageSearchQuery`.

## What did you expect to happen?
I want to get the result of search which contains all messages with provided ids **and** get these messages in the same order as the input array.

## What happened instead?
I get the correct response which contains

[2022-06-20 14:36] bielikb commented on #2104
Hi @vadimue,

thanks for the thorough report. We will review this request with the team and come back to you soon.

[2022-06-20 14:37] bielikb commented on #2089
Hi @martindaum,

thanks for the report. We will review the issue with the team and come back to you soon.

Best,
Boris

[2022-06-21 07:47] jitendra-simform commented on #2098
Hello @b-onc
Still facing same issue in v4.16 - Video attached
Steps
Pinned message using below function

open func pinMessage(message: ChatMessage) {
        guard let channel = dataSource?.channel(for: self) else {
            return
        }
        let messageController = client.messageController(
            cid: channel.cid,
            messageId: message.id
        )
        messageControl

[2022-06-21 09:05] b-onc commented on #2098
Hey @jitendra-simform

Can you share the altered Demo project you're using for testing? Or create a `patch` file with your changes and share it here, so we can test.

[2022-06-21 10:01] jitendra-simform commented on #2098
Hello @b-onc
Here is patch file
thanks
[patch.diff.zip](https://github.com/GetStream/stream-chat-swift/files/8947829/patch.diff.zip)

[2022-06-21 13:37] jitendra-simform opened #2111 "Message list scrolling issue while unpin messages"
## What did you do?
I have unpinned messages

## What did you expect to happen?
Message list should not scroll on unpin messages

## What happened instead?
Message list start scrolling while unpin messages

GetStream Chat version: 4.16.0
GetStream Chat frameworks: StreamChat, StreamChatUI
iOS version: iOS 15
Swift version: Swift 5
Xcode version: Xcode 13.1
Device: iPhone 13.1 Simulator

## Additio

[2022-06-22 12:51] bielikb commented on #2098
Hi @jitendra-simform,

thanks for the patch! Ill try to reproduce the reported issue.

[2022-06-22 13:19] bielikb commented on #2098
Good news, I was able to reproduce your issue in DM channel.

Im going to investigate this issue a bit and will come back to you soon!

[2022-06-23 10:01] bielikb commented on #1920
Hi @davefoxy,

we kicked new release 4.17.0 out the door. In `4.16.0` we provided new [tokenProvider](https://github.com/GetStream/stream-chat-swift/pull/2031) parameter that can be passed directly to `connectUser` API.

Could you grab the latest version of our SDK and see if leveraging the new `tokenProvider` API resolves your issue(s)?

Thanks!

Best,
Boris

[2022-06-23 10:05] bielikb commented on #2072
Hi @jaspalDevronins,

have you been able to review the comments of my colleagues?
Did it help to resolve your issue?

Best,
Boris

[2022-06-23 10:06] bielikb commented on #2087
Hi @martindaum,

Im just following up in here. Did your issue got resolved? Or are you still encountering some issues?

Best,
Boris

[2022-06-23 10:11] bielikb commented on #2104
Hi @vadimue,

could you please better describe your use case from the UX point of view of your app?
Thanks

[2022-06-23 10:21] polqf commented on #2091
Hi @michallaskowski, we just released [4.17.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.17.0) which contains a fix for the crash you reported.

Let us know if we can help you with something else

[2022-06-23 10:21] #2091 closed

[2022-06-23 10:21] polqf commented on #2086
Hi @jitendra-simform, we just released [4.17.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.17.0) which contains a fix for the issue you reported.

Let us know if we can help you with something else

[2022-06-23 10:22] polqf commented on #2039
Hi @ajay-simform, we just released [4.17.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.17.0) which contains a fix for the issue you reported.

Let us know if we can help you with something else

[2022-06-23 10:22] #2039 closed, assigned to b-onc

[2022-06-23 10:22] polqf commented on #1828
Hi @EuyjaeHwang, we just released [4.17.0](https://github.com/GetStream/stream-chat-swift/releases/tag/4.17.0) which contains a fix for the issue you reported.

Let us know if we can help you with something else

[2022-06-23 10:22] #1828 closed

[2022-06-23 11:32] martindaum commented on #2087
Not an ideal solution, because I have to render an image instead of designing a custom view. But as a workaround it would work. It would help if we could inject a custom view for the avatar view (which also has access to content) instead of having to use an image.

[2022-06-23 11:51] jitendra-simform commented on #2086
Thanks for the update @polqf

[2022-06-23 13:48] bielikb commented on #2104
Thanks for the info @vadimue. I reached out to our backend team.

We will come back to you as soon as we get updates on this.

Best,
Boris

[2022-06-24 08:43] Lomovsky-Alex opened #2117 "Xcode 14 compilation bug"
## What did you do?
I'm trying to build the project with the latest StreamChat library version (v4.17.0; installed via CocoaPods)

## What did you expect to happen?
The project should be built without errors.

## What happened instead?
I get the same error from 7 different classes in Xcode 14 beta 1:
Stored properties cannot be marked potentially unavailable with '@available'

## GetStream Environ

[2022-06-24 09:57] adamrushy commented on #2117
Hey, @Lomovsky-Alex

We actually created a branch for the moment which resolves the issues here, of course, this is early betas so things could change. You can read more on the discussion [here](https://github.com/GetStream/stream-chat-swift/discussions/2079)

I hope this helps 👍🏼

[2022-06-24 09:57] #2117 closed

[2022-06-24 09:59] Lomovsky-Alex commented on #2117
Thank you, I'll check this. Have a nice day ☺️

[2022-06-24 11:00] bielikb commented on #2117
@Lomovsky-Alex the beta branch can be digested via SPM only. Hope that's fine with you.

[2022-06-24 14:29] SSaleemSSI opened #2120 "Sending giphy without preview when clicked on any giphy from list"
## What are you trying to achieve?
I have implemented giphy controller which will reveal all giphy from where we can search giphy as well. What i want is to send that giphy directly when user click on them.

## If possible, how can you achieve this currently?
Its not currently not possible

## What would be the better way?
![Simulator Screen Shot - iPhone 8 Plus - 2022-06-24 at 13 21 59](https://u

[2022-06-27 06:54] mdhanif-simformsolutions commented on #1995
Hi @adamrushy @AnatolyRugalev apologies for late reply and thanks for the quick solutions.

Now I am able to successfully ban user from the group there are no issues with that but when I try to unban same user then again I get the error which was previously reported  in this [comment](https://github.com/GetStream/stream-chat-swift/issues/1995#issuecomment-1127767533) screenshot for the permissions

[2022-06-27 07:52] SSaleemSSI commented on #2111
Can you please resolve my issue?
https://github.com/GetStream/stream-chat-swift/issues/2120

[2022-06-27 09:09] SSaleemSSI commented on #2120
Thanks for the reply. I am able to populate the giphys but when on clicked on them i am not able to create a new messge with the attachement for giphy